.about-values {
     &__container {
        display: grid;

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, 1fr);

        }
    }

    &__title {
        color: var(--color-cadet);
    }

    &__list {
        display: flex;
        flex-direction: column;
    }
}

.values-item {
    display: flex;
    align-items: start;
    margin-bottom: 20px;

    &__icon {
        min-width: 40px;
        margin-right: 20px;

        font-family: FontAwesome, sans-serif;
        font-size: 24px;
        color: var(--green-dark-color);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-bottom: 10px;
        color: var(--color-cadet);
    }

    &__text {
        color: var(--color-lightgray);
    }
}
