.banner{
    position: relative;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 300px;

    border-radius: 20px;
    
    
    &::after{
        content: "";
        
        position: absolute;
        z-index: -1;
        inset: 0;

        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);

    }

    &__image{
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    

        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    
    }

    &__text{
        position: relative;
        padding: 20px;
        color: white;

    }
}

