.breadcrumbs {
    display: flex;
    align-items: center;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 22px;

            &::after {
                content: "/";

                position: absolute;
                top: 4px;
                right: -14px;

                color: var(--color-cadet);
            }
        }
    }

    &__link {
        font-size: 18px;
        line-height: 150%;
        color: var(--color-gray);
        transition: color 0.3s ease-in-out;

        &:not([href]) {
            color: var(--dark-color);
        }

        &:focus {
            outline: 2px solid var(--hover-color);
            outline-offset: 2px;
        }

        &:hover[href] {
            color: var(--hover-color);
        }

        &:active {
            color: var(--teal-color);
        }
    }
}
