.cart-card{
    position: relative;
    width: 100%;;
    max-width: 450px;
    padding: 10px;
   
    
    &__inner{
        background-color: #fff;
    }

    img{
        // aspect-ratio: 1/1;
        // width: 100%;
        // object-fit: contain;
    }

    &__info{
        padding-right: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
    }

    &__row{
        display: flex;
        justify-content: flex-start;
        align-items: end;
        gap: 5px;
        margin-top: 10px;
    }

    &__name{
        margin-top: 10px;
    }

 

    &__price {
        font-size: 20px;
        font-weight: 700;
        color: var(--teal-color);
        letter-spacing: 0.4px;
    }
    
    &__price-prev {
        font-size: 14px;
        font-weight: 500;
        color: #99a3ae;;
        text-decoration: line-through;
        letter-spacing: 0.2px;
        
    }

    &__price-discount {
        font-size: 14px;
        font-weight: 700;
        color: #c21c69;;
    }

    
    &__icon{
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;

        padding: 10px;
        
    }

    &.removing{
        opacity: 0;
        transition:  opacity 0.5s;
    }

    @media (min-width: 450px) {
        width: 50%;
    }

    @media (min-width: 798px) {
        width: 25%;
    }



    @media (min-width: 1024px) {
        width: 20%;
    }


}