.card-services {
    cursor: pointer;
    position: relative;
    // max-width: 400px;

    img {
        aspect-ratio: 3/2;
        width: 100%;

    }

    &__content {
        display: flex;
        align-items: start;
        justify-content: space-between;
    
        padding: 18px;
    
        background-color: #fff;
    }

 

    &__title {
        color: var(--color-cadet);
    }



    &__hover{
        position: absolute;
        inset: 0;

        overflow: hidden;

        opacity: 0;
        background-color: var(--color-red);
        
        transition: opacity 0.8s;

    }

    &__inner {
        position: absolute;
        right: 0;
        bottom: -200px;
        left: 0;

        padding: 20px;

        color: white;

        transition: bottom 0.8s ease-out;
    
    }

    &:hover &__inner {
        bottom: 0;
    }

    &:hover &__hover {
        opacity: 1;
    }
    
    



}
