.card-worker {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;


    &__link {
        padding: 0 20px;
    }

    &__image {
        transform: scale(0.5);

        overflow: hidden;

        width: 400px;
        height: 400px;
        margin-bottom: 20px;

        border-radius: 100%;
        box-shadow: 2px 2px 10px;

        transition: transform 0.5s;


        .swiper-slide-active & {
            transform: scale(1);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50%;
        }
    }

    &__block {
        transform: translateY(-120px) scale(0.7);
        transition: transform 0.5s;

        .swiper-slide-active & {
            transform: scale(1) translateY(0);
        }
    }

    &__name {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        
    }

    &__position {
        transform: scale(0);

        font-size: 24px;
        font-weight: 700;
        text-align: center;

        transition: transform 0.5s;

        .swiper-slide-active & {
            transform: scale(1);
        }
    }

    &__town {
        transform: scale(0);

        font-size: 18px;
        font-weight: 500;
        text-align: center;

        transition: transform 0.5s;

        .swiper-slide-active & {
            transform: scale(1);
        }
    }

    &__prev {
        left: -50px;
    }

    &__next {
        right: -50px;
    }

    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
