.contacts {
    &__title {
        text-align: center;
    }

    &__text {
        margin-bottom: 20px;
        color: var(--color-cadet);
        text-align: center;
    }

    &__body {
        display: grid;
        gap: 20px;

        @media (min-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        row-gap: 10px;
        column-gap: 20px;
    }

    &__left {
        img {
            aspect-ratio: 3/2;
            width: 100%;
        }
    }

    &__form {
        display: grid;
        gap: 20px;

        & .choices {
            width: 100%;
        }

        /* stylelint-disable-next-line selector-class-pattern */
        & .choices__inner {
            background-color: #fff;
            border-radius: 4px;
        }

        /* stylelint-disable-next-line selector-class-pattern */
        // & .form-connect__wrapper {
        //     grid-column: 2 span;
        //     text-align: right;
        // }

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__message {
        @media (min-width: 640px) {
            grid-column: 2 span;
        }
    }
}

.contacts-form {
    display: grid;
}
