.events{
    &__slider{
        position: relative;
    }

  
    &__pagination{
        /* stylelint-disable-next-line at-rule-no-unknown */
        @include flex-c-sb;
        
        position: absolute;
        z-index: 2;
        bottom: -75px;
        left: 0;
        transform: translateY(-50%);

        gap: 10px;

        @media (min-width: 1024px) {
            top: 50%;
        }
        

    }

    &__pagination-slides{
        /* stylelint-disable-next-line at-rule-no-unknown */
        @include flex-c-sb;
        
        gap: 5px;
    }
   
}