.events-next{
    margin-top: 100px;
    margin-bottom: 100px;

    &__slider{
        position: relative;
    }

    &__title{
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 600;
    }

    &__pagination{
        position: absolute;
        z-index: 2;
        bottom: -70px;
        left: 0;
        /* stylelint-disable-next-line at-rule-no-unknown */
        @include flex-c-sb;

        gap: 10px;


    }

    &__pagination-slides{
        /* stylelint-disable-next-line at-rule-no-unknown */
        @include flex-c-sb;
        
        gap: 5px;
    }
 


   
}