.events-prev {
    &__container{
        position: relative;
        padding-top: 150px;

    }

    &__inner {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        @media (min-width: 1024px) {
            padding: 0 30px;
        }

    }

    &__title {
        color: var(--color-cadet);
    }

    &__left {
        grid-column: 12 span;
        padding: 20px;

        @media (min-width: 1024px) {
            grid-column: 4 span;
        }
    }

    &__slider {
        position: relative;
        grid-column: 12 span;

       
        @media (min-width: 1024px) {
            grid-column: 8 span;
        }
    }

    &__prev {
        right: 50px;
    }

    &__next {
        right: 0;
    }

    &__prev,
    &__next {
        position: absolute;
        z-index: 2;
        top: -50px;

        display: none;

        color:aqua;

        border: none;

        @media (min-width: 640px) {
            display: block;
        }
    }
}
