.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 100px;

    color: var(--color-cadet);

    background-color: var(--bg-color);

    transition: background 0.2s;

    &--transparent {
        background-color: transparent;
    }

    &__container {
        position: relative;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

        /* stylelint-disable-next-line at-rule-no-unknown */
        @include flex-c-sb;
    }

    &__right {
        /* stylelint-disable-next-line at-rule-no-unknown */
        @include flex-c-sb;

        gap: 16px;
    }

    &__location {
        /* stylelint-disable-next-line at-rule-no-unknown */
        @include flex-c-sb;

        gap: 8px;
    }

    &__tel,
    &__email {
        /* stylelint-disable-next-line at-rule-no-unknown */
        @include flex-c-sb;

        gap: 8px;

        &::before {
            font-family: FontAwesome, sans-serif;
        }
    }

    &__burger {
        margin-right: 10px;
        font-family: FontAwesome, sans-serif;
    }

    &__circle {
        width: 14px;
        height: 14px;

        background-color: var(--dark-color);
        border-radius: 50%;

        transition: 0.2s;
    }

    &__logo {
        img {
            width: 100px;
            height: 40px;

            @media (min-width: 768px) {
                width: 200px;
                height: 80px;
            }
        }
    }
}
