.hero-events {
    position: relative;
 

    &__content {
        padding-top: 128px;
        padding-bottom: 100px;
    }

    &__container {
        /* stylelint-disable-next-line at-rule-no-unknown */
        @include flex-column-start;
    }

   
}
