.modal {
  --transition-time: 0.3s;

  cursor: pointer;

  position: fixed;
  z-index: 1000;
  inset: 0;

  overflow-y: auto;

  text-align: center;

  visibility: hidden;
  opacity: 0;
  background-color: #000000b3;

  transition:
    opacity var(--transition-time),
    visibility var(--transition-time) 
    
  
}

.modal[data-modal= "4"] {
  @media (max-width: 1024px) {
    display: none;
  }
}
/* stylelint-disable-next-line selector-class-pattern */
.modal__container {
  cursor: default;

  position: relative;

  display: none;

  margin: 50px auto;
  padding: 20px;

  background-color: #fff;
  border-radius: 10px;
}

/* stylelint-disable-next-line selector-class-pattern */
.modal__close {
  cursor: pointer;

  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: transparent;
  border: none;

  transition: opacity 0.3s;

  &:hover {
    opacity: 0.5;
  }
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
  transition:
    opacity var(--transition-time),
    visibility var(--transition-time);
}

/* stylelint-disable-next-line selector-class-pattern */
.modal__container.modal-open {
  display: inline-block;
}
