.news {
    margin-top: 100px;
    margin-bottom: 100px;

    &__title {
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 600;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    &__card {
        grid-column: 3 span;
    }

    &__card--big {
        grid-column: 9 span;
    }
}
