.popper-user {
  display: none;
 

  width: 400px;
  padding: 15px;

  
  

  font-size: 18px;
  font-weight: 400;
  color: var(--color-cadet);

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px #00000040;

  &[data-show] {
    display: block;
  }

  &__avatar {
    display: flex;

    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-cadet);
  }

  &__icon {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    
    width: 50px;
    height: 50px;
    margin-right: 20px;
    
    font-size: 34px;
    color: var(--green-dark-color);

    background-color: var(--blue-color);
    border-radius: 20%;

  }

  &__name{
    margin-bottom: 5px;
  }
}
