.popular-products{
    margin-bottom: 100px;

    &__slider{
        position: relative;
    }

    &__title{
        margin-bottom: 40px;
    }

    &__container-btn {
        text-align: center;
    }

    &__more-btn {
        display: inline-flex !important;
        width: 200px !important;
    }
 
    &__prev{
        left: -50px;
    }

    &__next{
        right: -50px;
    }

    &__prev, &__next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    

    &__pagination{
        margin-top: 10px;
        margin-bottom: 30px;
    }
  
}