.product-reviews {
    &__header{
        display: grid;
        row-gap: 20px;
     
        @media (min-width: 1024px) {
            grid-template-columns: 3fr 1fr;

        }
    }



    &__review{
        margin-bottom: 20px;
    }

    &__number{
        color: var(--color-lightgray);
    }


    &__container-btn{
        text-align: center;
    }

    &__more-btn{
        display: inline-flex !important;
        width: 200px !important;
    }
}

.rating-o{
      &__top{
        display: flex;
        margin-bottom: 10px;
    }

    &__value{
        margin-right: 10px;
        color: var(--green-dark-color);
        text-wrap: nowrap;
        
    }

    &__count{
        margin-bottom: 10px;
    }
}

.btn-galery{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 10px;

    color: var(--green-dark-color);

    border: 2px solid var(--hover-color);
    border-radius: 40px;

    transition: all 0.3s;

    span{
        font-family: FontAwesome, sans-serif;

        &::before{
            margin-right: 20px;
        }
    }

    &:hover{
        color:white;
        background-color: var(--hover-color);
    }
}

.review{
    display: grid;
    row-gap: 10px;
    padding: 20px 20px 40px;
    background-color: var(--blue-light-color);

    &__left{
        padding-right: 40px;
    }

    &__data{
        color: var(--hover-color);
    }

    &__right{

        @media (min-width: 900px) {
            padding-right: 200px;
    
        }

    }

    &__header{
        display: flex;
        align-items: start;
        margin-bottom: 20px;
    }

    &__avatar{
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
        margin-right: 10px;

        background-color: var(--blue-color);
        border-radius: 100%;
    }

    &__name{
           color: var(--color-cadet);
    }

    &__location
    {
             color: var(--color-cadet);
    }

    &__text{
        line-height: 1.5;
        color: var(--color-lightgray);
    }

    @media (min-width: 900px) {
        grid-template-columns: 1fr 4fr;

    }

}
