.product-card {
    margin-bottom: 50px;
    color: var(--color-cadet);

    &__container {
        @media (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }

    &__left {
        margin-bottom: 20px;

        @media (min-width: 1024px) {
            padding-right: 20px;
        }
    }

    &__main-image {
        display: none;
        height: 400px;
        margin-bottom: 10px;
        background-color: white;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media (min-width: 1024px) {
            display: block;
        }
    }

    &__images {
        display: none;
        grid-template-columns: repeat(12, 1fr);
        gap: 5px;

        @media (min-width: 1024px) {
            display: grid;
        }
    }

    &__slider {
        position: relative;
        display: block;
        max-width: 100%;
        margin: auto;

        @media (min-width: 640px) {
            max-width: 90%;
        }

        @media (min-width: 700px) {
            max-width: 70%;
        }

        @media (min-width: 1024px) {
            display: none;
        }
    }

    &__pagination {
        margin-top: 10px;

        @media (min-width: 1024px) {
            display: none;
        }
    }

    &__image {
        cursor: pointer;

        position: relative;

        overflow: hidden;
        grid-column: 2 span;

        padding-top: 100%;

        border: 2px solid transparent;
        border-radius: 5px;

        transition: all 0.2s;

        img {
            position: absolute;
            top: 5%;
            left: 5%;

            width: 90%;
            height: 90%;

            object-fit: cover;
            border-radius: 5px;
        }

        &:hover {
            border: 2px solid var(--color-cadet);
        }

        &--active {
            border: 2px solid var(--color-cadet);
        }
    }

    &__image--video {
        img {
            opacity: 0.5;
        }

        /* stylelint-disable-next-line order/order */
        &::after {
            content: "";

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            opacity: 1;
            background-image: url("../images/play.svg");
            background-repeat: no-repeat;
            background-position: center center;

            transition: opacity 0.3s;
        }

        &:hover &::after {
            opacity: 0.7;
        }
    }

    &__name {
        margin-bottom: 10px;
        color: var(--teal-color);
    }

    &__rating {
        cursor: pointer;

        display: flex;
        gap: 15px;
        align-items: center;

        margin-bottom: 20px;
    }

    &__reviews,
    &__media {
        cursor: pointer;
        color: var(--color-cadet);
        text-decoration: underline;
    }

    &__media {
        display: none;

        @media (min-width: 1024px) {
            display: block;
        }
    }

    &__reviews {
        margin-right: 30px;
    }

    &__row {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 10px;
    }

    &__label {
        color: var(--dark-color);
    }

    &__value {
        color: var(--dark-color);
    }

    &__slogan {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--dark-color);
    }

    &__descr {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--dark-color);
    }
}
