.section-title {
    display: inline-flex;
    gap: 1px;
    align-items: center;

    color: var(--color-cadet);

    transition: gap 0.3s;

  
    span {
        font-family: FontAwesome, sans-serif;
        color: var(--teal-color);
        opacity: 0;

    }

    &:hover {
        gap: 20px;
        color: var(--teal-color);

        span {
            opacity: 1;
        }
    }
}
