.section-title {
    display: inline-flex;
    gap: 1px;
    align-items: center;

    margin-bottom: 20px;
    
    font-size: 22px;
    font-weight: 600;
    color: var(--color-cadet);

    transition: gap 0.3s;

  
    span {
        font-family: FontAwesome, sans-serif;
        color: var(--teal-color);
        opacity: 0;

    }

    &:hover {
        gap: 20px;
        color: var(--teal-color);

        span {
            opacity: 1;
        }
    }

    @media (min-width: 1024px) {
            font-size: 28px;
    }
}
