.services {
    &__slider {
        position: relative;
    }

    .swiper-slide {
        max-width: 400px;
    }

    &__prev {
        left: -50px;
    }

    &__next {
        right: -50px;
    }

    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: none;

        @media (min-width: 1024px) {
            display: block;
        }
    }

    &__pagination {
        margin-top: 10px;
    }
}
