.services-services{
       &__tabs{
        margin-bottom: 20px;
    }



    
    &__block{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: 10px;

    }

    
    &__card{
        grid-column: 12 span;
        margin-bottom: 20px;

        @media (min-width: 640px) {
            grid-column: 6 span;
        }
    }

}