.tours {
    &__container {
        position: relative;
        padding-top: 150px;
    }

    &__inner {
        position: relative;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;

        padding: 0 30px;
    }

    &__card {
        grid-column: 12 span;

        @media (min-width: 500px) {
            grid-column: 6 span;
        }

        @media (min-width: 1024px) {
            grid-column: 4 span;
        }
    }
}
