<div class="about-values">
    <div class="about-values__container container">
        <div class="about-values__left">
            <span class="about-values__title">Новые ценности</span>
        </div>
        <div class="about-values__right">
            <ul class="about-values__list">
                <li class="about-values__item values-item">
                    <span class="values-item__icon fa-sun-o"></span>
                    <div class="values-item__wrapper">
                        <span class="values-item__label">Lorem ipsum dolor sit amet.</span>
                        <span class="values-item__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                </li>
                
                <li class="about-values__item values-item">
                    <span class="values-item__icon fa-heart"></span>
                    <div class="values-item__wrapper">
                        <span class="values-item__label">Lorem ipsum dolor sit amet.</span>
                        <span class="values-item__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                </li>
                <li class="about-values__item values-item">
                    <span class="values-item__icon fa-smile-o"></span>
                    <div class="values-item__wrapper">
                        <span class="values-item__label">Lorem ipsum dolor sit amet.</span>
                        <span class="values-item__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                </li>
                <li class="about-values__item values-item">
                    <span class="values-item__icon fa-handshake-o"></span>
                    <div class="values-item__wrapper">
                        <span class="values-item__label">Lorem ipsum dolor sit amet.</span>
                        <span class="values-item__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                </li>
                <li class="about-values__item values-item">
                    <span class="values-item__icon fa-lightbulb-o"></span>
                    <div class="values-item__wrapper">
                        <span class="values-item__label">Lorem ipsum dolor sit amet.</span>
                        <span class="values-item__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>