<div class="about-values section">
    <div class="about-values__container container">
        <div class="about-values__left">
            <h2 class="about-values__title subtitle">Новые ценности</h2>
        </div>
        <div class="about-values__right">
            <ul class="about-values__list">
                <li class="about-values__item values-item">
                    <span class="values-item__icon fa-sun-o"></span>
                    <div class="values-item__wrapper">
                        <span class="values-item__label text-big">Наша миссия</span>
                        <span class="values-item__text text">обеспечить слонам индивидуальный уход, прожить всю свою жизнь в безопасном убежище, созданном для их благополучия</span>
                    </div>
                </li>
                
                <li class="about-values__item values-item">
                    <span class="values-item__icon fa-heart"></span>
                    <div class="values-item__wrapper">
                        <span class="values-item__label text-big">Наша  работа</span>
                        <span class="values-item__text text">
                            В настоящее время релоцировано 1200 слонов, и есть место, чтобы принять больше. Мы нацелены на создание полноценной слоновой майнинговой фермы
                        </span>
                    </div>
                </li>
                <li class="about-values__item values-item">
                    <span class="values-item__icon fa-smile-o"></span>
                    <div class="values-item__wrapper">
                        <span class="values-item__label text-big">Наши ценности</span>
                        <span class="values-item__text text">Люди могут и должны внести свой вклад в защиту диких слонов, чтобы этот вид мог выжить для будущих поколений.</span>
                    </div>
                </li>
                <li class="about-values__item values-item">
                    <span class="values-item__icon fa-handshake-o"></span>
                    <div class="values-item__wrapper">
                        <span class="values-item__label text-big">Наш роудмэп</span>
                        <span class="values-item__text text">техногуманизмом наряду с датаизмом должны идти вместе</span>
                    </div>
                </li>
                <li class="about-values__item values-item">
                    <span class="values-item__icon fa-lightbulb-o"></span>
                    <div class="values-item__wrapper">
                        <span class="values-item__label text-big">Меньше хасла</span>
                        <span class="values-item__text text">Chilling является приоритетом нашей работы</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>