<section class="about-workers">
    <div class="about-workers__container container">
        <h2 class="about-workers__title">
            We are passionate, competitive, open, dynamic.
        </h2>

        <ul class="about-workers__list">
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto2.jpg" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto4.webp" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto5.webp" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto6.webp" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto7.jpg" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto8.jpg" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto10.jpg" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto11.jpg" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto12.jpg" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto13.jpg" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto14.jpg" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
            <li class="about-workers__item worker">
                <div class="worker__image">
                    <img src="/images/workers/foto15.jpg" alt="">
                </div>
                <div class="worker__bottom">
                    <span class="worker__name">Lorem, ipsum.</span>
                    <span class="worker__position">Lorem, ipsum dolor.</span>
                </div>

            </li>
        </ul>

    </div>
</section>