<section class="account section">
    <div class="container2">
        <h1 class="account__title subtitle">Мои данные</h1>
        <div class="account__block">
            <span class="account__label text-600"></span>
            <span class="account_value text"></span>
        </div>

        <button class="account__logout-btn text">
            выйти
        </button>
    </div>
</section>

<section class="account-wishlist section">
    <div class="container2">
        <div class="account-wishlist__row">
            <h2 class="account-wishlist__title subtitle">Избранное</h2>
            <a href="/ wishlist.html" class="text-sm">перейти</a>
        </div>
        <div class="account-wishlist__list ">
           
        </div>
    </div>
</section>

<section class="account-cart section"></section>
<div class="container2">
    <div class="account-cart__row">
        <h2 class="account-cart__title subtitle">Корзина</h2>
        <a href="/ cart.html">перейти</a>
    </div>
    <div class="account-cart__list ">
       
    </div>
</div>
</section>