<div class="auth">
    <div class="auth__container container">
        <div class="auth__header">
            <a href="/elephant/index.html" class="header__logo">
                <img width="200" height="80" src="/elephant/images/logo2.webp" alt="logo">
            </a>
        </div>

        <form class="auth__form form-connect">
            <label class="form-field form-connect__field auth__email">
                <span class="form-field__caption">Почтовый ящик*</span>
                <input type="email" name="email"  placeholder="Ваш email" class="form-field__input" required>
            </label>
            <label class="form-field  form-connect__field auth__password">
                <span class="form-field__caption">Пароль*</span>
                <input type="password" name="password" class="form-field__input" required>
                <span class="fa-eye fa-lg font-icon"></span>
            </label>
           
            <button class="form-connect__btn btn" aria-label="в систему" type="button" disabled>Войти</button>
        </form>

    </div>
</div>