<section class="catalog">
    <div class="catalog__container container">

        <ul class="breadcrumbs catalog__breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="catalog.html?cat=sloniham" class="breadcrumbs__link">Магазин</a>
            </li>
           
           
        </ul>
        <div class="catalog__meta">
            <h1 class="catalog__title"></h1>
            <span class="catalog__res-count"></span>
        </div>
        <div class="catalog__body">
            <div class="catalog__filters">
                <div class="catalog__filters-item filter-item">
                    <h4 class="filter-item__title">Бренд</h4>
                    <div class="filter-item__body">

                        <div class="catalog__filter">
                            <label class='checkbox'>
                                <input type='checkbox' />
                                <span class='checkbox__decor'></span>
                                <span class='checkbox__text'>Taibrand</span>

                            </label>
                        </div>
                        <div class="catalog__filter">
                            <label class='checkbox'>
                                <input type='checkbox' />
                                <span class='checkbox__decor'></span>
                                <span class='checkbox__text'>Nana</span>

                            </label>
                        </div>
                        <div class="catalog__filter">
                            <label class='checkbox'>
                                <input type='checkbox' />
                                <span class='checkbox__decor'></span>
                                <span class='checkbox__text'>SoiSky</span>

                            </label>
                        </div>
                        <div class="catalog__filter">
                            <label class='checkbox'>
                                <input type='checkbox' />
                                <span class='checkbox__decor'></span>
                                <span class='checkbox__text'>Baiyoke</span>

                            </label>
                        </div>
                    </div>
                </div>

                <div class="catalog__filters-item filter-item">
                    <h4 class="filter-item__title">Цена</h4>
                </div>
                <div class="filter-item__body">

                    <div class='range-slider'>
                        <div class="range-slider__top">
                            <!-- <span class="range-slider__low-price">₽ 65</span> -->
                            <!-- <span>–</span> -->
                            <!-- <span class="range-slider__high-price">₽ 434</span> -->
                        </div>
                        <div class='range-slider__slider' id='range-slider'></div>

                    </div>
                </div>
            </div>
            <div class="catalog__results">
                <div class="catalog__filters-top">
                </div>
            </div>
        </div>
        <div class="catalog__pagination pagination">
        </div>
    </div>

</section>