<section class="connect section">
    <div class="container connect__container">
        
        
        <h2 class="connect__subtitle subtitle">
            Подключитесь <br>
             к лучшим
        </h2>

        <form class="connect__form form-connect">
            <label class="form-field form-connect__field">
                <span class="form-field__caption">Имя*</span>
                <input type="text" name="name" placeholder="Введите имя" class="form-field__input" required>
            </label>
            <label class="form-field  form-connect__field">
                <span class="form-field__caption">Телефон*</span>
                <input type="tel" name="phone" placeholder="+7(000)-000-0000" class="form-field__input" required>
            </label>
            <label class="form-field form-connect__field">
                <span  class="form-field__caption">Город</span>
                <input type="email" name="email" placeholder="Город" class="form-field__input"></label>
            <label class="form-field  form-connect__field">
                <span class="form-field__caption">Сообщение</span> 
               <textarea class="form-field__input form-field__input--big" name="message" placeholder="Введите текст"></textarea>
            </label> 
            <button class="form-connect__btn btn" aria-label="подключиться к услуге" type="submit">Подключиться</button>
        </form>

    </div>
</section>