<section class="contacts">
    <div class="contacts__container container">
        <h2 class="contacts__title subtitle">Напишите нам</h2>
        <p class="contacts__text text">Наша специалисты предоставят вам массу ценной информации о наших
            турах, услугах и наших милых слонах. Если у вас есть какие-либо конкретные вопросы или запросы,
            заполните форму ниже или отправьте электронное письмо на адрес elef@tai.pro, и мы свяжемся с
            вами в ближайшее время.</p>
        <div class="contacts__body">
            <div class="contacts__left">
                <h5 class="subtitle">Чтобы поговорить с нами, позвоните:</h5>
                <div class="contacts__block">
                    <span class="text">Номер офиса (с 08:30 до 17:30)</span>
                    <a href="tel:+6677888099" class="text">+66 77 888 099</a>
                    <span class="text">Мобильный (с 08:30 до 17:30) (тайский)</span>
                    <a href="tel:+6677888099" class="text">+66 77 888 099</a>
                    <span class="text">Мобильный (с 08:30 до 17:30) (тайский / русский)</span>
                    <a href="tel:+6677888099" class="text">+66 77 888 099</a>
                </div>

            </div>
            <div class="contacts__right">
                <form class="contacts__form">
                    <label class="form-field form-connect__field">
                        <span class="form-field__caption">Имя*</span>
                        <input type="text" name="name" placeholder="Введите имя" class="form-field__input" required>
                    </label>
                    <label class="form-field  form-connect__field">
                        <span class="form-field__caption">Кому</span>
                        <select name="whom" class="form-field__select" required>
                            <option value="">Кому</option>
                            <option value="Stepan">Степан Петрович</option>
                            <option value="Fillip">принц Филипп</option>
                            <option value="Oleg">Олег</option>
                            <option value="Ivan">Иван Сергеевич</option>
                            <option value="Marina">Марина</option>
                            <option value="Alex">Александр</option>
                            <option value="Somnum">Сомбун(муж Марины)</option>
                        </select>
                    </label>
                    <label class="form-field  form-connect__field">
                        <span class="form-field__caption">Телефон*</span>
                        <input type="tel" name="phone" placeholder="+7(000)-000-0000" class="form-field__input"
                            required>
                    </label>
                    <label class="form-field  form-connect__field">
                        <span class="form-field__caption">Выберите вопрос</span>
                        <select name="questing" class="form-field__select" required>
                            <option value="">Выберите вопрос</option>
                            <option value="quest1">Где Марина</option>
                            <option value="quest2">Олег, ты подлец</option>
                            <option value="quest3">Где мои деньги?</option>
                            <option value="quest4">Который час?</option>
                            <option value="quest5">Саша, прекрати!</option>
                            <option value="quest6">Сомбун(муж Марины)</option>
                        </select>
                    </label>
                    <label class="form-field form-connect__field">
                        <span class="form-field__caption">Email</span>
                        <input type="email" name="email" placeholder="ваш email" class="form-field__input">
                    </label>
                    <label class="form-field  form-connect__field contacts__message">
                        <span class="form-field__caption">Сообщение</span>
                        <textarea class="form-field__input form-field__input--big" name="message"
                            placeholder="Введите текст">
                        </textarea>
                    </label>


                    <div class="form-connect__wrapper">
                        <button class="form-connect__btn btn" aria-label="сообщение" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>