<div class="contacts">
    <div class="contacts__container container">
        <h2 class="contacts__title title">Напишите нам</h2>
        <p class="contacts__text">Lorem ipsum dolor sit amet consectetur.</p>
        <div class="contacts__body">
            <div class="contacts__left">
                <img src="/images/workers/foto11.jpg" alt="">
            </div>
            <div class="contacts__right">
                <form class="form-connect contacts__form">
                    <label class="form-field form-connect__field">
                        <span class="form-field__caption">Имя*</span>
                        <input type="text" name="name" placeholder="Введите имя" class="form-field__input" required>
                    </label>
                  
                    <label class="form-field  form-connect__field">
                        <span class="form-field__caption">Кому</span>
                        <select name="whom" class="form-field__select" required>
                            <option value="">Степан Петрович</option>
                            <option value="New_York">принц Филипп</option>
                            <option value="New_York">Олег</option>
                            <option value="New_York">Иван Сергеевич</option>
                            <option value="New_York">Марина</option>
                            <option value="New_York">Александр</option>
                            <option value="New_York">Сомбун(муж Марины)</option>
                        </select>
                    </label>
                    <label class="form-field  form-connect__field">
                        <span class="form-field__caption">Телефон*</span>
                        <input type="tel" name="phone" placeholder="+7(000)-000-0000" class="form-field__input"
                            required>
                    </label>
                    <label class="form-field  form-connect__field">
                        <span class="form-field__caption">Выберите вопрос</span>
                        <select name="whom" class="form-field__select" required>
                            <option value="">Степан Петрович</option>
                            <option value="New_York">принц Филипп</option>
                            <option value="New_York">Олег</option>
                            <option value="New_York">Иван Сергеевич</option>
                            <option value="New_York">Марина</option>
                            <option value="New_York">Александр</option>
                            <option value="New_York">Сомбун(муж Марины)</option>
                        </select>
                    </label>
                    <label class="form-field form-connect__field">
                        <span class="form-field__caption">Email</span>
                        <input type="email" name="email" placeholder="Город" class="form-field__input"></label>
                    <label class="form-field  form-connect__field contacts__message">
                        <span class="form-field__caption">Сообщение</span>
                        <textarea class="form-field__input form-field__input--big" name="message"
                            placeholder="Введите текст"></textarea>
                    </label>
                   
                 

                    <div class="form-connect__wrapper">
                        <button class="form-connect__btn btn" aria-label="сообщение" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>