<section class="events section">
    <div class="container events__container">

        <a href="/elephant/events.html" class="events__title section-title">

            <h2 >
                Мероприятия
            </h2>
            <span class="fa-angle-right"></span>
        </a>
        <div class="events__slider">

            <div class="events-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide events__slide">
                        <article class="card-events">
                            <a href="#" class="card-events__link">
                                <div class="card-events__date text-big">
                                    <span>19 сентября</span> <br>
                                    <span>18:00</span>
                                </div>

                                <div class="card-events__content">
                                    <img class="card-events__img-big" src="/elephant/images/events/card5.jpg" alt="card-image">
                                    <div class="card-events__block">

                                        <div class="card-events__name  subtitle">
                                            Купание слонов в Москва реке
                                        </div>
                                        <p class="card-events__desc text">
                                            «Elephant Jungle Sanctuary» – это заповедник по уходу за слонами в 40
                                            минутах езды от Паттайи. Главной его миссией является забота о слонах. Здесь
                                           
                                        </p>

                                        <div class="card-events__where text">
                                            Место проведения река Москва
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>

                    <div class="swiper-slide events__slide">
                        <article class="card-events">
                            <a href="#" class="card-events__link">
                                <div class="card-events__date text-big">
                                    <span>17 октября</span> <br>
                                    <span>18:00</span>
                                </div>

                                <div class="card-events__content">
                                    <img class="card-events__img-big" src="/elephant/images/events/card22.jpg"
                                        alt="card-image">
                                    <div class="card-events__block">

                                        <div class="card-events__name subtitle">
                                            Прогулки со слонами по МКАД
                                        </div>
                                        <p class="card-events__desc text">
                                            Фонда спасения слонов, в рамках которых слоны не привязываются и не ездят
                                            верхом, что позволяет им свободно перемещаться по лесным массивам.
                                        </p>

                                        <div class="card-events__where text">
                                            Место проведения МКАД 70-ый километр
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide events__slide">
                        <article class="card-events">
                            <a href="#" class="card-events__link">
                                <div class="card-events__date text-big">
                                    <div>22 августа</div> 
                                    <div>17:45</div>
                                </div>

                                <div class="card-events__content">
                                    <img class="card-events__img-big" src="/elephant/images/events/card18.jpg" alt="card-image">
                                    <div class="card-events__block">

                                        <div class="card-events__name subtitle">
                                            Кормление слонов
                                        </div>
                                        <p class="card-events__desc text">
                                            BEES – Слоновий заповедник Burm and Emily's Elephant Sanctuary – это
                                            безопасный, естественный дом для слонов, где они просто БЫЛИ слонами. Место,
                                            где слоны могут быть спасены и уйти на пенсию ИЛИ иногда мы открываем свои
                                         
                                        </p>

                                        <div class="card-events__where text">
                                            Место проведения полигон ТБО Левобережный
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>

                </div>
            </div>

            <div class="events__pagination">
                <button class="events__prev slider-nav">
                    <span class="slider-nav__prev fa-angle-left fa-lg"></span>
                </button>
                <div class="events__pagination-slides">

                    <span class="events__slide-active">1</span>
                    <span>/</span>
                    <span class="events__slides-total">2</span>
                </div>
                <button class="events__next slider-nav">
                    <span class="slider-nav__next fa-angle-right fa-lg"></span>
                </button>

            </div>
        </div>
    </div>

</section>