<section class="events">
    <div class="container events__container">

        <a href="events.html" class="events__title section-title title">

            <h3 class="section-title__title">
                События
            </h3>
            <span class="fa-angle-right"></span>
        </a>
        <div class="events__slider">

            <div class="events-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide events__slide">
                        <article class="card-events">
                            <a href="#" class="card-events__link">
                                <div class="card-events__date">
                                    <span>19 сентября</span> <br>
                                    <span>18:00</span>
                                </div>

                                <div class="card-events__content">
                                    <img class="card-events__img-big" src="/images/card-events/card1.jpg"
                                        alt="card-image">
                                    <div class="card-events__block">

                                        <img class="card-events__img-small" src="/images/card-events/logo2.png" alt="">
                                        <div class="card-events__name">
                                            Москва - Патайя 3.10.2024
                                        </div>
                                        <p class="card-events__desc">
                                            Слонов не обнаружили , но пива выпили много. Откуда слоны на МКАДЕ?
                                        </p>

                                        <div class="card-events__where">
                                            Место проведения уточняется(никто не помнит)
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>

                    <div class="swiper-slide events__slide">
                        <article class="card-events">
                            <a href="#" class="card-events__link">
                                <div class="card-events__date">
                                    <span>17 октября</span> <br>
                                    <span>18:00</span>
                                </div>

                                <div class="card-events__content">
                                    <img class="card-events__img-big" src="/images/card-events/card2.jpg"
                                        alt="card-image">
                                    <div class="card-events__block">

                                        <img class="card-events__img-small" src="/images/card-events/logo2.png" alt="">
                                        <div class="card-events__name">
                                            Шереметьево-Аюпхая
                                        </div>
                                        <p class="card-events__desc">
                                            WineSher - закрытый винный салон для лучших IT-специалистов.
                                        </p>

                                        <div class="card-events__where">
                                            Место проведения в строгом секрете
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide events__slide">
                        <article class="card-events">
                            <a href="#" class="card-events__link">
                                <div class="card-events__date">
                                    <div>22 августа</div> <br>
                                    <div>17:45</div>
                                </div>

                                <div class="card-events__content">
                                    <img class="card-events__img-big" src="/images/card-events/card3.jpg"
                                        alt="card-image">
                                    <div class="card-events__block">

                                        <img class="card-events__img-small" src="/images/card-events/logo2.png" alt="">
                                        <div class="card-events__name">
                                            Патайя - Пулково
                                        </div>
                                        <p class="card-events__desc">
                                            Какой то&nbsp;жираф подошел в&nbsp;кафе на&nbsp;нижнем этаже, еда оказалась
                                            испорченой а&nbsp;ему норм, пока долетели до&nbsp;Патайи жираф все
                                            съел,обидно
                                        </p>

                                        <div class="card-events__where">
                                            Место проведения не геолоцировано
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>

                </div>
            </div>

            <div class="events__pagination">
                <button class="events__prev slider-nav__prev">
                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.42871 0.821899L1.25059 4.00002L4.42871 7.17815" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8.75 4H1.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                </button>
                <div class="events__pagination-slides">

                    <span class="events__slide-active">1</span>
                    <span>/</span>
                    <span class="events__slides-total">2</span>
                </div>
                <button class="events__next slider-nav__next">
                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.57129 0.821899L8.74941 4.00002L5.57129 7.17815" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M1.25 4H8.75" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                </button>

            </div>
        </div>
    </div>

</section>