<section class="events-next">
    <div class="container events-next__container">
        <div class="events-next__slider">

            <div class="events-next-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide events-next__slide">

                        <article class="card-en">
                            <a href="#" class="card-en__link">
                                <div class="card-en__date">
                                    <span>1 сентября</span>

                                </div>

                                <div class="card-en__content">
                                    <img class="card-en__img-big" src="/images/events/card1.jpg" alt="card-image">
                                    <div class="card-en__block">

                                        <img class="card-en__img-small" src="/images/card-events/logo.png" alt="">
                                        <div class="card-en__name">
                                            Москва - Патайя
                                        </div>
                                        <p class="card-en__desc">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, a!
                                        </p>

                                        <div class="card-en__where">
                                            Место проведение стойка у магазина Duty Free
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide events-next__slide">

                        <article class="card-en">
                            <a href="#" class="card-en__link">
                                <div class="card-en__date">
                                    <span>4 сентября</span>

                                </div>

                                <div class="card-en__content">
                                    <img class="card-en__img-big" src="/images/events/card2.jpg" alt="card-image">
                                    <div class="card-en__block">

                                        <img class="card-en__img-small" src="/images/card-events/logo.png" alt="">
                                        <div class="card-en__name">
                                            Пулково - Аюпхая
                                        </div>
                                        <p class="card-en__desc">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, a!
                                        </p>

                                        <div class="card-en__where">
                                            Место проведение стойка у магазина Duty Free
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>
                    
                    <div class="swiper-slide events-next__slide">

                        <article class="card-en">
                            <a href="#" class="card-en__link">
                                <div class="card-en__date">
                                    <span>6 сентября</span>

                                </div>

                                <div class="card-en__content">
                                    <img class="card-en__img-big" src="/images/events/card3.jpg" alt="card-image">
                                    <div class="card-en__block">

                                        <img class="card-en__img-small" src="/images/card-events/logo.png" alt="">
                                        <div class="card-en__name">
                                            Пулково - Бангкок
                                        </div>
                                        <p class="card-en__desc">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, a!
                                        </p>

                                        <div class="card-en__where">
                                            Место проведение стойка у магазина Duty Free
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>
                    
                    <div class="swiper-slide events-next__slide">

                        <article class="card-en">
                            <a href="#" class="card-en__link">
                                <div class="card-en__date">
                                    <span>21 сентября</span>

                                </div>

                                <div class="card-en__content">
                                    <img class="card-en__img-big" src="/images/events/card4.jpg" alt="card-image">
                                    <div class="card-en__block">

                                        <img class="card-en__img-small" src="/images/card-events/logo.png" alt="">
                                        <div class="card-en__name">
                                            Шереметьево - Бангкок
                                        </div>
                                        <p class="card-en__desc">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, a!
                                        </p>

                                        <div class="card-en__where">
                                            Место проведение стойка у магазина Duty Free
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>

                </div>
            </div>
            <div class="events-next__pagination">
                <button class="events-next__prev slider-nav__prev">
                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.42871 0.821899L1.25059 4.00002L4.42871 7.17815" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8.75 4H1.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                </button>
                <div class="events-next__pagination-slides">

                    <span class="events-next__slide-active">1</span>
                    <span>/</span>
                    <span class="events-next__slides-total">2</span>
                </div>
                <button class="events-next__next slider-nav__next">
                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.57129 0.821899L8.74941 4.00002L5.57129 7.17815" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M1.25 4H8.75" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                </button>

            </div>
        </div>
    </div>
</section>