<section class="events-prev">
    <div class="container events-prev__container">

        
        <div class="top-image-bg">
            <div class="top-image-bg__top">
                <h2 class="top-image-bg__title">Наша история</h2>
                <img width="100" height="100" src="/images/tours/icon.svg" alt="card-image">
            </div>
            <img class="top-image-bg__image" src="/images/tours/card7.jpg" alt="card-image">

        </div>
       
        <div class="events-prev__inner">
            <div class="events-prev__left">
                <div class="events-prev__time">
                    <div class="time">
                        <svg class="time__circle" width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'>
                            <circle cx='8' cy='8' r='6' strokeWidth='4' />
                        </svg>

                        <span class='time__text '>Июль 2024</span>

                    </div>
                      <div class="time">
                        <svg class="time__circle" width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'>
                            <circle cx='8' cy='8' r='6' strokeWidth='4' />
                        </svg>

                        <span class='time__text '>Июнь 2024</span>

                    </div>
                      <div class="time">
                        <svg class="time__circle" width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'>
                            <circle cx='8' cy='8' r='6' strokeWidth='4' />
                        </svg>

                        <span class='time__text '>Май 2024</span>

                    </div>
                      <div class="time">
                        <svg class="time__circle" width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'>
                            <circle cx='8' cy='8' r='6' strokeWidth='4' />
                        </svg>

                        <span class='time__text '>Апрель 2024</span>

                    </div>
                      <div class="time">
                        <svg class="time__circle" width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'>
                            <circle cx='8' cy='8' r='6' strokeWidth='4' />
                        </svg>

                        <span class='time__text '>Март 2024</span>

                    </div>
                </div>
            </div>
            <div class="events-prev__slider">

                <div class="events-prev-slider swiper">

                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide events-prev__slide">

                            <div class="card-ep">
                                <a href="#" class="card-ep__link">
                                    <img class="card-ep__img" src="/images/events/card1.webp" alt="card-image">

                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide events-prev__slide">

                            <div class="card-ep">
                                <a href="#" class="card-ep__link">
                                    <img class="card-ep__img" src="/images/events/card2.avif" alt="card-image">

                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide events-prev__slide">

                            <div class="card-ep">
                                <a href="#" class="card-ep__link">
                                    <img class="card-ep__img" src="/images/events/card2.webp" alt="card-image">

                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide events-prev__slide">

                            <div class="card-ep">
                                <a href="#" class="card-ep__link">
                                    <img class="card-ep__img" src="/images/events/card4.jpg" alt="card-image">

                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide events-prev__slide">

                            <div class="card-ep">
                                <a href="#" class="card-ep__link">
                                    <img class="card-ep__img" src="/images/events/card6.jpg" alt="card-image">

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="events-prev__prev slider-nav__prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m15 18-6-6 6-6" />
                    </svg>
                </button>
                <button class="events-prev__next slider-nav__next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m9 18 6-6-6-6" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>