<section class="events-next section">
    <div class="container events-next__container">
        <div class="events-next__slider">

            <div class="events-next-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide events-next__slide">

                        <article class="card-en">
                            <a href="#" class="card-en__link">
                                <div class="card-en__date subtitle">
                                    <span>1 сентября</span>

                                </div>

                                <div class="card-en__content">
                                   
                                    <img class="card-en__img-big" src="/elephant/images/events/card1.jpg" alt="card-image">
                                    <div class="card-en__block">

                                        <div class="card-en__name subtitle">
                                            Прогулки со слонами по МКАД
                                        </div>
                                        <p class="card-en__desc text">
                                            «Elephant Jungle Sanctuary» – это заповедник по уходу за слонами в 40
                                            минутах езды от Паттайи. Главной его миссией является забота о слонах. Здесь
                                            нет такого привычного развлечения как катание на слонах. Все мероприятия
                                            направлены на заботу о слонах, их реабилитацию и лечение.

                                        </p>

                                        <div class="card-en__where text">
                                            Место проведение река Москва
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide events-next__slide">

                        <article class="card-en">
                            <a href="#" class="card-en__link">
                                <div class="card-en__date subtitle">
                                    <span>4 сентября</span>

                                </div>

                                <div class="card-en__content">
                                    <img class="card-en__img-big" src="/elephant/images/events/card2.jpg" alt="card-image">
                                    <div class="card-en__block">

                                        <div class="card-en__name subtitle">
                                            Прогулки со слонами по МКАД
                                        </div>
                                        <p class="card-en__desc text">
                                            В рамках проекта «Прогулки со слонами» недавно были освобождены два слона,
                                            которых вывезли на лошадях, и теперь они следуют концепции других проектов
                                            Фонда спасения слонов, в рамках которых слоны не привязываются и не ездят
                                            верхом, что позволяет им свободно перемещаться по лесным массивам.

                                        </p>

                                        <div class="card-en__where text">
                                            Место проведения МКАД 70-ый километр

                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>

                    <div class="swiper-slide events-next__slide">

                        <article class="card-en">
                            <a href="#" class="card-en__link">
                                <div class="card-en__date subtitle">
                                    <span>6 сентября</span>

                                </div>

                                <div class="card-en__content">
                                    <img class="card-en__img-big" src="/elephant/images/events/card3.jpg" alt="card-image">
                                    <div class="card-en__block">

                                        <div class="card-en__name subtitle">
                                            Кормление слонов
                                        </div>
                                        <p class="card-en__desc text">
                                            BEES – Слоновий заповедник Burm and Emily's Elephant Sanctuary – это
                                            безопасный, естественный дом для слонов, где они просто БЫЛИ слонами. Место,
                                            где слоны могут быть спасены и уйти на пенсию ИЛИ иногда мы открываем свои
                                            двери для слонов, которым нужен отдых/уход, в надежде, что они смогут
                                            навсегда прожить свои дни в заповеднике в естественной среде, свободной от
                                            эксплуатации и жестокого обращения.
                                        </p>

                                        <div class="card-en__where text">
                                            Место проведения Burm and Emily’s Elephant Sanctuary

                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="events-next__pagination">
                <button class="events-next__prev slider-nav">
                    <span class="slider-nav__prev fa-angle-left fa-lg"></span>
                </button>
                <div class="events-next__pagination-slides">

                    <span class="events-next__slide-active">1</span>
                    <span>/</span>
                    <span class="events-next__slides-total">2</span>
                </div>
                <button class="events-next__next slider-nav">
                    <span class="slider-nav__next fa-angle-right fa-lg"></span>
                </button>

            </div>
        </div>
    </div>
</section>