<section class="events-prev section">
    <div class="container events-prev__container">


        <div class="top-image-bg">
            <div class="top-image-bg__top">
                <h2 class="top-image-bg__title subtitle">Наша история</h2>
                <img width="100" height="100" src="/ images/tours/icon.svg" alt="card-image">
            </div>
            <img class="top-image-bg__image" src="/ images/tours/card7.jpg" alt="card-image">

        </div>

        <div class="events-prev__inner">
            <div class="events-prev__left">
                <div class="events-prev__time">
                    <div class="time">
                        <svg class="time__circle" width='16' height='16' viewBox='0 0 16 16'
                            xmlns='http://www.w3.org/2000/svg'>
                            <circle cx='8' cy='8' r='6' strokeWidth='4' />
                        </svg>

                        <span class='time__text text-big'>Июль 2024</span>

                    </div>
                    <div class="time">
                        <svg class="time__circle" width='16' height='16' viewBox='0 0 16 16'
                            xmlns='http://www.w3.org/2000/svg'>
                            <circle cx='8' cy='8' r='6' strokeWidth='4' />
                        </svg>

                        <span class='time__text text-big'>Июнь 2024</span>

                    </div>
                    <div class="time">
                        <svg class="time__circle" width='16' height='16' viewBox='0 0 16 16'
                            xmlns='http://www.w3.org/2000/svg'>
                            <circle cx='8' cy='8' r='6' strokeWidth='4' />
                        </svg>

                        <span class='time__text text-big'>Май 2024</span>

                    </div>
                    <div class="time">
                        <svg class="time__circle" width='16' height='16' viewBox='0 0 16 16'
                            xmlns='http://www.w3.org/2000/svg'>
                            <circle cx='8' cy='8' r='6' strokeWidth='4' />
                        </svg>

                        <span class='time__text text-big'>Апрель 2024</span>

                    </div>
                    <div class="time">
                        <svg class="time__circle" width='16' height='16' viewBox='0 0 16 16'
                            xmlns='http://www.w3.org/2000/svg'>
                            <circle cx='8' cy='8' r='6' strokeWidth='4' />
                        </svg>

                        <span class='time__text text-big'>Март 2024</span>

                    </div>
                </div>
            </div>
            <div class="events-prev__slider">

                <div class="events-prev-slider swiper">

                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide events-prev__slide">

                            <div class="card-ep">
                                <div class="card-ep__top">
                                    <div class="card-ep__review">
                                        <div class="card-ep__left">
                                            <div class="card-ep__rating rating" data-value="5.0">
                                                <div class="rating__stars">
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                </div>
                                                <div class="rating__fill" style="width: 100%;">
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                </div>
                                            </div>
                                            <div class="review__data">12/03/2024</div>
                                        </div>
                                        <div class="card-ep__right">
                                            <div class="card-ep__wrapper">
                                                <div class="card-ep__avatar">А</div>
                                                <div class="card-ep__user">
                                                    <div class="card-ep__name">Афанасий</div>
                                                    <div class="card-ep__location">Питербург,СССР</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-ep__image">
                                        <img class="card-ep__img" src="/ images/events/card10.jpg" alt="card-image">
                                    </div>
                                </div>
                                <p>
                                    Замечательный опыт. Вечеринка и латте очень милые и дружелюбные. Это небольшой
                                    центр, где слоны играют важную роль, и вы можете получать удовольствие от
                                    общения с ними. Вас также отвезут и привезут в отель, еда включена в стоимость
                                    очень вкусная и позаботятся о том, чтобы у вас не было недостатка в воде.
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide events-prev__slide">

                            <div class="card-ep">
                                <div class="card-ep__top">
                                    <div class="card-ep__review">
                                        <div class="card-ep__left">
                                            <div class="card-ep__rating rating" data-value="5.0">
                                                <div class="rating__stars">
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                </div>
                                                <div class="rating__fill" style="width: 100%;">
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                </div>
                                            </div>
                                            <div class="review__data">01/05/2024</div>
                                        </div>
                                        <div class="card-ep__right">
                                            <div class="card-ep__wrapper">
                                                <div class="card-ep__avatar">И</div>
                                                <div class="card-ep__user">
                                                    <div class="card-ep__name">Илья</div>
                                                    <div class="card-ep__location">Самара, Россия</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-ep__image"><img class="card-ep__img"
                                            src="/ images/events/card11.jpg" alt="card-image">
                                    </div>
                                </div>
                                <p>
                                    Мы прекрасно провели время в Elephant Freedom Project. Сотрудники были
                                    очень
                                    любезны и отвечали на все вопросы и делились важной информацией. Слоны
                                    содержались в условиях, соответствующих виду, и люди обращались с
                                    животными
                                    очень хорошо.
                                    Мы прекрасно провели время в Elephant Freedom Project. Сотрудники были
                                    очень
                                    любезны и отвечали на все вопросы и делились важной информацией. Слоны
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide events-prev__slide">

                            <div class="card-ep">
                                <div class="card-ep__top">
                                    <div class="card-ep__review">
                                        <div class="card-ep__left">
                                            <div class="card-ep__rating rating" data-value="4.0">
                                                <div class="rating__stars">
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                </div>
                                                <div class="rating__fill" style="width: 80%;">
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                </div>
                                            </div>
                                            <div class="review__data">23/03/2024</div>
                                        </div>
                                        <div class="card-ep__right">
                                            <div class="card-ep__wrapper">
                                                <div class="card-ep__avatar">А</div>
                                                <div class="card-ep__user">
                                                    <div class="card-ep__name">Анна</div>
                                                    <div class="card-ep__location">Люберцы, Киргизия</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-ep__image">
                                        <img class="card-ep__img" src="/ images/events/card12.jpg" alt="card-image">
                                    </div>
                                </div>
                                <p>
                                    Абсолютно удивительный заповедник для слонов, персонал был очень
                                    дружелюбным
                                    и
                                    информативным. Они объяснили, почему каждый слон был спасен, и
                                    смогли
                                    ответить
                                    на любые наши вопросы. Вы можете сказать, что за слонами очень
                                    хорошо
                                    ухаживают
                                    и их не заставляют ничего делать - все на их условиях. У нас был
                                    самый
                                    удивительный день кормления и прогулок со слонами, нам понравилась
                                    каждая
                                    секунда. Определенно рекомендую!
                                </p>
                            </div>
                        </div>


                        <div class="swiper-slide events-prev__slide">

                            <div class="card-ep">
                                <div class="card-ep__top">
                                    <div class="card-ep__review">
                                        <div class="card-ep__left">
                                            <div class="card-ep__rating rating" data-value="5.0">
                                                <div class="rating__stars">
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                </div>
                                                <div class="rating__fill" style="width: 100%;">
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                </div>
                                            </div>
                                            <div class="review__data">21/06/2024</div>
                                        </div>
                                        <div class="card-ep__right">
                                            <div class="card-ep__wrapper">
                                                <div class="card-ep__avatar">А</div>
                                                <div class="card-ep__user">
                                                    <div class="card-ep__name">Аркадий</div>
                                                    <div class="card-ep__location">Геленджик, Сочи</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-ep__image">
                                        <img class="card-ep__img" src="/ images/events/card14.jpg" alt="card-image">
                                    </div>
                                </div>
                                <p>
                                    Мы провели целый день с Elephant Freedom Project! Весь опыт был потрясающим, от
                                    встречи/высадки до нахождения со слонами в течение всего дня.
                                    День начался с ознакомления с их проектом, а затем с кормления их. Затем у нас
                                    была возможность понаблюдать, как они играют в грязи, гуляют по долине и
                                    купаются в реке. Они
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide events-prev__slide">

                            <div class="card-ep">
                                <div class="card-ep__top">
                                    <div class="card-ep__review">
                                        <div class="card-ep__left">
                                            <div class="card-ep__rating rating" data-value="5.0">
                                                <div class="rating__stars">
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                    <span class="rating__star-stroke"></span>
                                                </div>
                                                <div class="rating__fill" style="width: 100%;">
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                    <span class="rating__star-fill"></span>
                                                </div>
                                            </div>
                                            <div class="review__data">24/01/2024</div>
                                        </div>
                                        <div class="card-ep__right">
                                            <div class="card-ep__wrapper">
                                                <div class="card-ep__avatar">В</div>
                                                <div class="card-ep__user">
                                                    <div class="card-ep__name">Айфон</div>
                                                    <div class="card-ep__location">Новый, США</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-ep__image">
                                        <img class="card-ep__img" src="/ images/events/card18.jpg" alt="card-image">
                                    </div>
                                </div>
                                <p>
                                    Вы можете сказать, что за слонами очень
                                    хорошо
                                    ухаживают
                                    и их не заставляют ничего делать - все на их условиях. У нас был
                                    самый
                                    удивительный день кормления и прогулок со слонами, нам понравилась
                                    каждая
                                    секунда. Определенно рекомендую!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="events-prev__prev slider-nav">
                    <span class="slider-nav__prev fa-angle-left fa-lg"></span>
                </button>
                <button class="events-prev__next slider-nav">
                    <span class="slider-nav__next fa-angle-right fa-lg"></span>
                </button>
            </div>
        </div>
    </div>
</section>