<header class="header fix-block header--transparent">
    <div class="container header__container">
        <a href="/elephant/index.html" class="header__logo">
            <img width="200" height="80" src="/elephant/images/logo2.webp" alt="logo">
        </a>
       
        <div class="header__right">
            
            <a href="/elephant/catalog.html?cat=sloniham" class="header__shop hidden md:block">
                    Магазин
            </a>
            <a href="tel:+68126666666" class="header__tel fa-phone  mb:hidden">
                <span>6 (812)
                    666-66-66
                </span>
            </a>
            <a href="mailto:elef@tai.com" class="header__email fa-envelope mb:hidden">
                <span>elef@tai.com
                </span>
            </a>
            <button aria-label="Открыть меню" class="header__burger burger fa-bars fa-lg">
               
            </button>
        </div>
    </div>
</header>