<header class="header fix-block header--transparent">
    <div class="container header__container">
        <a href="/index.html" class="header__logo">
            <img width="200" height="80" src="/images/logo2.webp" alt="logo">
        </a>
       
        <div class="header__right">
            
            <a href="tel:+68126666666" class="header__tel fa-phone">
                <span>6 (812)
                    666-66-66
                </span>
            </a>
            <a href="mailto:elef@tai.com" class="header__email fa-envelope">
                <span>elef@tai.com
                </span>
            </a>
            <button aria-label="Открыть меню" class="header__burger burger fa-bars">
               
            </button>
        </div>
    </div>
</header>