<header class="header-shop ">
    <div class="burger-mobile">
        <span class="burger-mobile__line">
        </span>
    </div>

    <div class="header-shop__top">
        <div class="container2">
            <div class="header-shop__left">
               
            </div>

            <div class="header-shop__right">
                <a href="/elephant/signin.html" class="header-shop__link header-shop__link--desktop header-shop__login">
                    <span class="font-icon  fa-user-o">
                        Войти
                    </span>
                </a>
                <a href="/elephant/cart.html" class="header-shop__link header-shop__link--desktop header-shop__cart ">
                    <span class="font-icon  fa-shopping-cart">
                        Корзина
                    </span>
                </a>
                <a href="/elephant/wishlist.html" class="header-shop__link header-shop__link--desktop header-shop__star ">
                    <span class="font-icon  fa-star-o">
                        Избранное
                    </span>
                </a>

                <a href="/elephant/signin.html" class="header-shop__link header-shop__link--mobile  header-shop__login">
                    <span class="font-icon  fa-user-o">
                    </span>
                </a>
                <a href="/elephant/cart.html" class="header-shop__link header-shop__link--mobile header-shop__cart ">
                    <span class="font-icon  fa-shopping-cart">
                    </span>
                </a>
                <a href="/elephant/wishlist.html" class="header-shop__link header-shop__link--mobile header-shop__star ">
                    <span class="font-icon  fa-star-o">
                    </span>
                </a>

            </div>

            <a href="/elephant/catalog.html" class="header-shop__logo">
                <img width="200" height="60" src="/elephant/images/logo2.webp" alt="logo">
                <div class="header-shop__logo-name">SHOP</div>
            </a>
        </div>
    </div>

    <div class="header-shop__bottom">
        <div class="container2">

            <nav class="menu-shop">
                <div class="menu-shop__mobile">
                    <button class="mobile-close">&#10539;</button>
                </div>
              

            </nav>
        </div>
    </div>
    <div class="header-shop__mobile">
        <div class="container2">
         
        </div>
    </div>

</header>