<section class="hero-reviews">
    <div class="hero-reviews__background background">
        <img src="/images/card-products/card31.jpg" alt="card-product">
    </div>
    <div class="hero-reviews__content">
        <div class="container hero-reviews__container">
            <ul class="breadcrumbs hero-reviews__breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li   class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Отзывы</a>
                </li>
            </ul>
            
        </div>
    </div>
</section>