<section class="hero-about">
    <div class="hero-about__background background">
        <img src="/images/bg-services.webp" alt="">
    </div>
    <div class="hero-about__content">
        <div class="container hero-services__container">
            <ul class="breadcrumbs hero-about__breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">О нас</a>
                </li>
            </ul>
            <h1 class="hero-about__title hero-title">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ipsam hic aspernatur aliquid,
                ratione commodi ex doloremque et architecto molestiae.
            </h1>
            <div class="hero-about__bottom">
                <div class="hero-about__item">
                    <span class="hero-about__label">Lorem.</span>
                    <span class="hero-about__text">Lorem, ipsum dolor.</span>
                </div>
                <div class="hero-about__item">
                    <span class="hero-about__label">Lorem.</span>
                    <span class="hero-about__text">Lorem, ipsum dolor.</span>
                </div>
                <div class="hero-about__item">
                    <span class="hero-about__label">Lorem.</span>
                    <span class="hero-about__text">Lorem, ipsum dolor.</span>
                </div>
            </div>

        </div>
    </div>
</section>