<section class="hero-catalog">
    <div class="hero-catalog__background background">
        <img src="/images/catalog-bg.webp" alt="card-product">
    </div>
    <div class="hero-catalog__content">
        <div class="container hero-catalog__container">
            <ul class="breadcrumbs hero-catalog__breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li   class="breadcrumbs__item">
                    <a  class="breadcrumbs__link">Каталог</a>
                </li>
               
            </ul>
            
        </div>
    </div>
</section>