<section class="hero-events">
    <div class="hero-events__background background">
        <img src="/ /images/events/card15.jpg" alt="">
    </div>
    <div class="hero-events__content">
        <div class="container hero-events__container">
            <ul class="breadcrumbs hero-events__breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/ index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Мероприятия</a>
                </li>
            </ul>
            <h1 class="hero-events__title title">
                Мероприятия
            </h1>
           
        </div>
    </div>
</section>