<section class="hero-product">
    <div class="hero-product__background background">
        <img src="/images/card-products/card61.jpg" alt="card-product">
    </div>
    <div class="hero-product__content">
        <div class="container hero-product__container">
            <ul class="breadcrumbs hero-product__breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li   class="breadcrumbs__item">
                    <a href="catalog.html" class="breadcrumbs__link">Каталог</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Товар</a>
                </li>
            </ul>
            
        </div>
    </div>
</section>