<section class="hero-about">
    <div class="hero-about__background background">
        <img src="/elephant/images/bg-services.webp" alt="">
    </div>
    <div class="hero-about__content">
        <div class="container hero-services__container">
            <ul class="breadcrumbs hero-about__breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/elephant/index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">О нас</a>
                </li>
            </ul>
            <h1 class="hero-about__title title-big">
                Наша миссия
            </h1>
        

        </div>
    </div>
</section>