<section class="hero-tour">
    <div class="hero-tour__background background">
        <img src="/images/bg-services.webp" alt="">
    </div>
    <div class="hero-tour__content">
        <div class="container hero-services__container">
            <ul class="breadcrumbs hero-tour__breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="index.html" class="breadcrumbs__link">Главная</a>
                </li>
              
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link tour-name">Тур</a>
                </li>
            </ul>
            
        </div>
    </div>
</section>