<section class="hero">
    <div class="hero__background background">
        <img src="/elephant/images/bg.webp" alt="">
    </div>
    <div class="hero__content">
        <div class="container hero__container">
            <h1 class="hero__title title-big">
                Лучший слоновий ChillOut на рынке <br>
                Два личных хейтера <br>
                Круглосуточный бодишейминг
            </h1>
            <button class="hero__btn btn" aria-label="подключиться к услуге">Подключиться</button>
            <ul class="hero__stats">
                <li class="hero__stats-item">
                    <span class="hero__stats-label text-big">13+</span>
                    <span class="hero__stats-value text">Клиентов</span>
                </li>
                <li class="hero__stats-item">
                    <span class="hero__stats-label text-big">2300+</span>
                    <span class="hero__stats-value text">Сотрудников</span>
                </li>
                <li class="hero__stats-item">
                    <span class="hero__stats-label text-big">1600</span>
                    <span class="hero__stats-value text">Лет на рынке</span>
                </li>
            </ul>
            <div class="hero__bottom">
                <div class="hero__block">
                    <h2 class="hero__subtitle subtitle">
                        <span>Уникальный рофлинг </span><br>
                        <span>для випов </span>
                    </h2>
                    <p class="hero__text text">
                        На&nbsp;протяжении 1600&nbsp;лет мы&nbsp;предоставляем полный комплекс услуг фиксированной связи для
                        бизнеса и&nbsp;провайдеров. Нас ценят за&nbsp;лучший SLA на&nbsp;рынке, двух личных менеджеров,
                        инженеров в&nbsp;техподдержке и&nbsp;быстрое решение любых вопросов.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>