<section class="hero">
    <div class="hero__background background">
        <img src="/images/bg.webp" alt="">
    </div>
    <div class="hero__content">
        <div class="container hero__container">
            <h1 class="hero__title">
                Лучший SLA на рынке
                Два личных менеджера
                Инженеры в техподдержке
            </h1>
            <button class="hero__btn btn" aria-label="подключиться к услуге">Подключиться</button>
            <ul class="hero__stats">
                <li class="hero__stats-item">
                    <span class="hero__stats-label">2300+</span>
                    <span class="hero__stats-value">Клиентов</span>
                </li>
                <li class="hero__stats-item">
                    <span class="hero__stats-label">2300+</span>
                    <span class="hero__stats-value">Сотрудников</span>
                </li>
                <li class="hero__stats-item">
                    <span class="hero__stats-label">16</span>
                    <span class="hero__stats-value">Лет на рынке</span>
                </li>
            </ul>
            <div class="hero__bottom">

                <h2 class="hero__subtitle subtitle">
                    Единое решение <br>
                    для бизнеса
                </h2>
                <p class="hero__text">
                    На&nbsp;протяжении 16&nbsp;лет мы&nbsp;предоставляем полный комплекс услуг фиксированной связи для
                    бизнеса и&nbsp;провайдеров. Нас ценят за&nbsp;лучший SLA на&nbsp;рынке, двух личных менеджеров,
                    инженеров в&nbsp;техподдержке и&nbsp;быстрое решение любых вопросов.
                </p>
            </div>
        </div>
    </div>
</section>