<section class="hero">
    <div class="hero__background background">
        <img src="/images/bg.webp" alt="">
    </div>
    <div class="hero__content">
        <div class="container hero__container">
            <h1 class="hero__title title-big">
                Первый и едиственный Elephant Club <br>
                 на столичном рынке <br>
                Подбор, уход и социализация гигантов
            </h1>
            <a class="hero__btn btn" href="#connect" aria-label="подключиться к услуге">Подключиться</a>
            <ul class="hero__stats">
                <li class="hero__stats-item">
                    <span class="hero__stats-label text-big">130+</span>
                    <span class="hero__stats-value text">Клиентов</span>
                </li>
                <li class="hero__stats-item">
                    <span class="hero__stats-label text-big">230+</span>
                    <span class="hero__stats-value text">Сотрудников</span>
                </li>
                <li class="hero__stats-item">
                    <span class="hero__stats-label text-big">16</span>
                    <span class="hero__stats-value text">Лет на рынке</span>
                </li>
            </ul>
            <div class="hero__bottom">
                <div class="hero__block">
                    <h2 class="hero__subtitle subtitle">
                        <span>Слон - лучший проводник</span><br>
                        <span>в городских джунглях </span>
                    </h2>
                    <p class="hero__text text">
                        На&nbsp;протяжении 16&nbsp;лет мы&nbsp;предоставляем полный комплекс услуг подбора, содержания и адаптации слонов в столичном регионе. 
                        Неординарные решения, упорство, а, главное, деньги делают из фантастики реальность .
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="main-services section">
    <div class="main-services container">
        <a href="/services.html" class="main-services__title section-title">

            <h2>
                Услуги
            </h2>
            <span class="fa-angle-right"></span>
        </a>
        <div class="main-services__slider slider-main-services">

            <div class="slider-main-services__swiper swiper">

                <div class="slider-main-services__swiper-wrapper swiper-wrapper">
                    <!-- Slides -->
                  

                </div>
            </div>
            <div class="main-services__pagination slider-pagination"></div>
            <button class="main-services__prev slider-nav">
                <span class="slider-nav__prev fa-angle-left fa-lg"></span>
            </button>
            <button class="main-services__next slider-nav">
                <span class="slider-nav__next fa-angle-right fa-lg"></span>
            </button>
        </div>
    </div>

</section>

<section class="main-events section">
    <div class="container main-events__container">

        <a href="/events.html" class="main-events__title section-title">

            <h2>
                Мероприятия
            </h2>
            <span class="fa-angle-right"></span>
        </a>
        <div class="main-events__slider">

            <div class="main-events-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide main-events__slide">
                        <article class="card-events">
                            <a href="/events.html" class="card-events__link">
                                <div class="card-events__date text-big">
                                    <span>19 сентября</span> <br>
                                    <span>18:00</span>
                                </div>

                                <div class="card-events__content">
                                    <img class="card-events__img-big" src="/images/events/card5.jpg" alt="card-image">
                                    <div class="card-events__block">

                                        <div class="card-events__name  subtitle">
                                            Купание слонов в Москва реке
                                        </div>
                                        <p class="card-events__desc text">
                                            В дикой природе слоны любят купаться в реках, ручьях, прудах и грязевых
                                            лужах. Поэтому Москва река является для них истинным купальным раем.

                                        </p>

                                        <div class="card-events__where text">
                                            Место проведения река Москва
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>

                    <div class="swiper-slide main-events__slide">
                        <article class="card-events">
                            <a href="/events.html" class="card-events__link">
                                <div class="card-events__date text-big">
                                    <span>17 октября</span> <br>
                                    <span>18:00</span>
                                </div>

                                <div class="card-events__content">
                                    <img class="card-events__img-big" src="/images/events/card22.jpg" alt="card-image">
                                    <div class="card-events__block">

                                        <div class="card-events__name subtitle">
                                            Прогулки со слонами по МКАД
                                        </div>
                                        <p class="card-events__desc text">
                                            На наших прогулках вдоль МКАД вы окунетесь в автомобильный рай столичного региона. 
                                            Вы  увидите множество шикарных авто, с разнообразными животными в них,
                                            включая бабочек, птиц и многое другое! </p>

                                        <div class="card-events__where text">
                                            Место проведения МКАД 70-ый километр
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide main-events__slide">
                        <article class="card-events">
                            <a href="/events.html" class="card-events__link">
                                <div class="card-events__date text-big">
                                    <div>22 августа</div>
                                    <div>17:45</div>
                                </div>

                                <div class="card-events__content">
                                    <img class="card-events__img-big" src="/images/events/card18.jpg" alt="card-image">
                                    <div class="card-events__block">

                                        <div class="card-events__name subtitle">
                                            Кормление слонов
                                        </div>
                                        <p class="card-events__desc text">
                                            Мало кто из заведений общепита отказывает в трапезе владельцам ушастых гигантов.
                                            Откройте для себя двери лучших ресторанов Москвы
                                        </p>

                                        <div class="card-events__where text">
                                            Место проведения ресторан Пушкин
                                        </div>
                                    </div>

                                </div>

                            </a>
                        </article>
                    </div>

                </div>
            </div>

            <div class="main-events__pagination">
                <button class="main-events__prev slider-nav">
                    <span class="slider-nav__prev fa-angle-left fa-lg"></span>
                </button>
                <div class="main-events__pagination-slides">

                    <span class="main-events__slide-active">1</span>
                    <span>/</span>
                    <span class="main-events__slides-total">2</span>
                </div>
                <button class="main-events__next slider-nav">
                    <span class="slider-nav__next fa-angle-right fa-lg"></span>
                </button>

            </div>
        </div>
    </div>
</section>

<section class="main-tours section">
    <div class="main-tours__container container">

        <div class="top-image-bg">
            <div class="top-image-bg__top">
                <h2 class="top-image-bg__title subtitle">Туры верхом на слонах</h2>
                <img width="100" height="100" src="/images/tours/icon.svg" alt="card-image">
            </div>
            <img class="top-image-bg__image" src="/images/tours/card7.jpg" alt="card-image">

        </div>
        
        <div class="main-tours__inner">
        
        </div>

    </div>
</section>