<section class="news">
    <div class="container news__container">
        <a href="#" class="news__title section-title">

            <h3 class="section-title__title">
                Новости
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                >
                <path d="M5 9v6" />
                <path d="M9 9h3V5l7 7-7 7v-4H9V9z" />
            </svg>
        </a>
        <div class="news__content">
            <article class="card-news card-news--big news__card--big">
                <a href="" class="card-news__link">
                    <img src="/images/card-news/card1.webp" alt="">
                    <div class="card-news__content">
                        <div class="card-news__tags">
                            #бизнес #экономика #общество
                        </div>
                        <h3 class="card-news__title">
                            ПМЭФ-2024: прогнозы и самые ожидаемые события
                        </h3>
                        <div class="card-news__date">
                            <svg  color="#8382FA" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.3636 5H5.63636C5.28491 5 5 5.28491 5 5.63636V18.3636C5 18.7151 5.28491 19 5.63636 19H18.3636C18.7151 19 19 18.7151 19 18.3636V5.63636C19 5.28491 18.7151 5 18.3636 5Z"
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M8 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M5 9H19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                            <span>01.06.24</span>
                        </div>
                    </div>
                </a>
    
            </article> 
            <article class="card-news card-news--small news__card">
                <a href="" class="card-news__link">
                    <img src="/images/card-news/card2.webp" alt="">
                    <div class="card-news__content">
                        <div class="card-news__tags">
                            #бизнес #экономика #общество
                        </div>
                        <h3 class="card-news__title">
                            4&nbsp;секрета от&nbsp;психолога: как выдерживать неопределенность и&nbsp;удерживать сотрудников
                        </h3>
                        <div class="card-news__date">
                            <svg  color="#8382FA" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.3636 5H5.63636C5.28491 5 5 5.28491 5 5.63636V18.3636C5 18.7151 5.28491 19 5.63636 19H18.3636C18.7151 19 19 18.7151 19 18.3636V5.63636C19 5.28491 18.7151 5 18.3636 5Z"
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M8 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M5 9H19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                            <span>24.03.24</span>
                        </div>
                    </div>
                </a>
    
            </article>
            
            <article class="card-news card-news--small news__card">
                <a href="" class="card-news__link">
                    <img src="/images/card-news/card2.webp" alt="">
                    <div class="card-news__content">
                        <div class="card-news__tags">
                            #бизнес #экономика #общество
                        </div>
                        <h3 class="card-news__title">
                            4&nbsp;секрета от&nbsp;психолога: как выдерживать неопределенность и&nbsp;удерживать сотрудников
                        </h3>
                        <div class="card-news__date">
                            <svg  color="#8382FA" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.3636 5H5.63636C5.28491 5 5 5.28491 5 5.63636V18.3636C5 18.7151 5.28491 19 5.63636 19H18.3636C18.7151 19 19 18.7151 19 18.3636V5.63636C19 5.28491 18.7151 5 18.3636 5Z"
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M8 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M5 9H19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                            <span>24.03.24</span>
                        </div>
                    </div>
                </a>
    
            </article>
              <article class="card-news card-news--small news__card">
                <a href="" class="card-news__link">
                    <img src="/images/card-news/card2.webp" alt="">
                    <div class="card-news__content">
                        <div class="card-news__tags">
                            #бизнес #экономика #общество
                        </div>
                        <h3 class="card-news__title">
                            4&nbsp;секрета от&nbsp;психолога: как выдерживать неопределенность и&nbsp;удерживать сотрудников
                        </h3>
                        <div class="card-news__date">
                            <svg  color="#8382FA" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.3636 5H5.63636C5.28491 5 5 5.28491 5 5.63636V18.3636C5 18.7151 5.28491 19 5.63636 19H18.3636C18.7151 19 19 18.7151 19 18.3636V5.63636C19 5.28491 18.7151 5 18.3636 5Z"
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M8 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M5 9H19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                            <span>24.03.24</span>
                        </div>
                    </div>
                </a>
    
            </article>
          <article class="card-news card-news--small news__card">
                <a href="" class="card-news__link">
                    <img src="/images/card-news/card2.webp" alt="">
                    <div class="card-news__content">
                        <div class="card-news__tags">
                            #бизнес #экономика #общество
                        </div>
                        <h3 class="card-news__title">
                            4&nbsp;секрета от&nbsp;психолога: как выдерживать неопределенность и&nbsp;удерживать сотрудников
                        </h3>
                        <div class="card-news__date">
                            <svg  color="#8382FA" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.3636 5H5.63636C5.28491 5 5 5.28491 5 5.63636V18.3636C5 18.7151 5.28491 19 5.63636 19H18.3636C18.7151 19 19 18.7151 19 18.3636V5.63636C19 5.28491 18.7151 5 18.3636 5Z"
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M8 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M5 9H19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                            <span>24.03.24</span>
                        </div>
                    </div>
                </a>
    
            </article>
          <article class="card-news card-news--small news__card">
                <a href="" class="card-news__link">
                    <img src="/images/card-news/card2.webp" alt="">
                    <div class="card-news__content">
                        <div class="card-news__tags">
                            #бизнес #экономика #общество
                        </div>
                        <h3 class="card-news__title">
                            4&nbsp;секрета от&nbsp;психолога: как выдерживать неопределенность и&nbsp;удерживать сотрудников
                        </h3>
                        <div class="card-news__date">
                            <svg  color="#8382FA" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.3636 5H5.63636C5.28491 5 5 5.28491 5 5.63636V18.3636C5 18.7151 5.28491 19 5.63636 19H18.3636C18.7151 19 19 18.7151 19 18.3636V5.63636C19 5.28491 18.7151 5 18.3636 5Z"
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M8 4V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M5 9H19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                            <span>24.03.24</span>
                        </div>
                    </div>
                </a>
    
            </article>
        </div>


    </div>
    </div>

</section>