<div class="popper-rating popper">
    <div class="rating-graph">
        <p class="rating-graph__header">Оценки пользователей</p>
        <div class="rating-graph__scoring">
            <div class="rating-graph__scoring-row"  data-value="5">
                <span class="rating-graph__scoring-value" >5</span>
                <div class="rating-graph__scoring-progress">
                    <div class="rating-graph__scoring-fill">
                    </div>
                </div>
                <span class="rating-graph__scoring-count"></span>
            </div>
            <div class="rating-graph__scoring-row"  data-value="4">
                <span class="rating-graph__scoring-value">4</span>
                <div class="rating-graph__scoring-progress">
                    <div class="rating-graph__scoring-fill">
                    </div>
                </div>
                <span class="rating-graph__scoring-count"></span>
            </div>
            <div class="rating-graph__scoring-row"  data-value="3">
                <span class="rating-graph__scoring-value">3</span>
                <div class="rating-graph__scoring-progress">
                    <div class="rating-graph__scoring-fill">
                    </div>
                </div>
                <span class="rating-graph__scoring-count"></span>
            </div>
            <div class="rating-graph__scoring-row"  data-value="2">
                <span class="rating-graph__scoring-value">2</span>
                <div class="rating-graph__scoring-progress">
                    <div class="rating-graph__scoring-fill">
                    </div>
                </div>
                <span class="rating-graph__scoring-count"></span>
            </div>
            <div class="rating-graph__scoring-row" data-value="1">
                <span class="rating-graph__scoring-value">1</span>
                <div class="rating-graph__scoring-progress" >
                    <div class="rating-graph__scoring-fill">
                    </div>
                </div>
                <span class="rating-graph__scoring-count"></span>
            </div>
        </div>

    </div>
</div>