<div class="tours">
    <div class="tours__container container">

        <div class="top-image-bg">
            <div class="top-image-bg__top">
                <h2 class="top-image-bg__title">Популярные туры</h2>
                <img width="100" height="100" src="/images/tours/icon.svg" alt="card-image">
            </div>
            <img class="top-image-bg__image" src="/images/tours/card7.jpg" alt="card-image">

        </div>
        
        <div class="tours__inner">
        
        </div>

    </div>
</div>