<section class="popular-products">
    <div class="popular-products__container container">

        <h2 class="popular-products__title title">
            Популярные товары
        </h2>

        <div class="popular-products__slider">

            <div class="popular-products-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                </div>
            </div>
            <button class="popular-products__prev slider-nav__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
            </button>
            <button class="popular-products__next slider-nav__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </button>
        </div>
        <div class="popular-products__pagination  slider-pagination"></div>
        <div class="popular-products__container-btn">

            <a href="catalog.html?cat=sloniham" class="popular-products__more-btn btn-galery">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    >
                    <path d="m15 11-1 9" />
                    <path d="m19 11-4-7" />
                    <path d="M2 11h20" />
                    <path d="m3.5 11 1.6 7.4a2 2 0 0 0 2 1.6h9.8a2 2 0 0 0 2-1.6l1.7-7.4" />
                    <path d="M4.5 15.5h15" />
                    <path d="m5 11 4-7" />
                    <path d="m9 11 1 9" />
                </svg>
                <span>Каталог</span>
            </a>
        </div>
    </div>

</section>