<section class="popular-products section">
    <div class="popular-products__container container">

        <h2 class="popular-products__title subtitle">
            Популярные товары
        </h2>

        <div class="popular-products__slider">

            <div class="popular-products-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                </div>
            </div>
            <button class="popular-products__prev slider-nav">
                <span class="slider-nav__prev fa-angle-left fa-lg"></span>
            </button>
            <button class="popular-products__next slider-nav">
                <span class="slider-nav__next fa-angle-right fa-lg"></span>
            </button>
        </div>
        <div class="popular-products__pagination  slider-pagination"></div>
        <div class="popular-products__container-btn">

            <a href="/elephant/catalog.html?cat=sloniham" class="popular-products__more-btn btn-galery">
              
                <span class="fa-cart-plus text">Каталог</span>
                
            </a>
        </div>
    </div>

</section>