<section class="popular-products">
    <div class="popular-products__container container">

        <h2 class="popular-products__title title">
            Популярные товары
        </h2>

        <div class="popular-products__slider">

            <div class="popular-products-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide popular-products__slide">
                        <article class="card-product">
                            <a href="product.html" class="card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card11.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card12.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card13.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Трос
                                </h3>
                                <p class="card-product__text">
                                    Надежный и&nbsp;легкий трос с&nbsp;гарантированная безопасность для Вас
                                    и&nbsp;Ваших гостей
                                </p>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide popular-products__slide">
                        <article class="card-product">
                            <a href="product.html" class="card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card21.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card22.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card23.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Аквариум
                                </h3>
                                <p class="card-product__text">
                                    Просторный и&nbsp;светлый аквариум с карманом для хобота&nbsp;не оставит равнодушным
                                    и&nbsp;Вашего питомца
                                </p>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide popular-products__slide">
                        <article class="card-product">
                            <a href="#product.html class=" card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card31.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card32.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card33.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Аквариум PLUS
                                </h3>
                                <p class="card-product__text">
                                    Можно поместить не только хобот <br> но и его подружку
                                </p>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide popular-products__slide">
                        <article class="card-product">
                            <a href="product.html" class="card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card41.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card42.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card43.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Авто ассессуары
                                </h3>
                                <p class="card-product__text">
                                    Не можете взять с собой питомца , Не проблема!
                                </p>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide popular-products__slide">
                        <article class="card-product">
                            <a href="product.html" class="card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card51.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card52.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card53.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Сумки для перевозки слона
                                </h3>
                                <p class="card-product__text">
                                    Перевози питомца с комфотром!
                                </p>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide popular-products__slide">
                        <article class="card-product">
                            <a href="product.html" class="card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card61.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card62.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card63.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Вино
                                </h3>
                                <p class="card-product__text">
                                    Помимо виноградных вин, в&nbsp;Таиланде представлены фруктовые вина местного
                                    производства.
                                    Для слонов!
                                </p>
                            </a>
                        </article>
                    </div>


                </div>
            </div>
            <button class="popular-products__prev slider-nav__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
            </button>
            <button class="popular-products__next slider-nav__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </button>
        </div>
        <div class="popular-products__pagination  slider-pagination"></div>
        <div class="popular-products__container-btn">

            <a href="catalog.html" class="popular-products__more-btn btn-galery">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    >
                    <path d="m15 11-1 9" />
                    <path d="m19 11-4-7" />
                    <path d="M2 11h20" />
                    <path d="m3.5 11 1.6 7.4a2 2 0 0 0 2 1.6h9.8a2 2 0 0 0 2-1.6l1.7-7.4" />
                    <path d="M4.5 15.5h15" />
                    <path d="m5 11 4-7" />
                    <path d="m9 11 1 9" />
                </svg>
                <span>Каталог</span>
            </a>
        </div>
    </div>

</section>