<div class="product-card">
    <div class="product-card__container container">
        <div class="product-card__left">
            <div class="product-card__main-image" >
                <img src="/images/card-products/card61.jpg" alt="card-product">
            </div>
            <div class="product-card__images">
                <div class="product-card__image">

                    <img src="/images/card-products/card61.jpg" alt="card-product">
                </div>
                <div class="product-card__image">
                    <img src="/images/card-products/card62.jpg" alt="card-product">
                </div>
                <div class="product-card__image">
                    <img src="/images/card-products/card63.jpg" alt="card-product">
                </div>
                <div class="product-card__image">
                    <img src="/images/card-products/card61.jpg" alt="card-product">
                </div>
                <div class="product-card__image">
                    <img src="/images/card-products/card62.jpg" alt="card-product">
                </div>
                <div class="product-card__image product-card__image--video">
                    <img src="/images/card-products/card63.jpg" alt="card-product">
                </div>
            </div>
        </div>
        <div class="product-card__right">
            <h2 class="product-card__name">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus,
                voluptatibus.</h2>
            <div class="product-card__rating">
                <span class="product-card__rating-value">4.6</span>
                <div class="rating" data-value="4.6">
                    <div class="rating__stars">
                        <span class="rating__star-stroke"></span>
                        <span class="rating__star-stroke"></span>
                        <span class="rating__star-stroke"></span>
                        <span class="rating__star-stroke"></span>
                        <span class="rating__star-stroke"></span>
                    </div>
                     <div class="rating__fill">
                        <span class="rating__star-fill"></span>
                        <span class="rating__star-fill"></span>
                        <span class="rating__star-fill"></span>
                        <span class="rating__star-fill"></span>
                        <span class="rating__star-fill"></span>
                    </div>
                </div>
                <a href="#reviews" class="product-card__reviews">отзывы</a>
                <span class="product-card__media" data-target="1">245 фото и видео</span>

            </div>

            <div class="product-card__slogan slogan">
                <div class="slogan__text">

                    <span class="slogan__text1">Elephant`s</span>
                    <span class="slogan__text2">choice</span>
                </div>
                <span class="slogan__right"></span>
            </div>
            <div class="product-card__row product-card__row--brand">
                <span class="product-card__label">Бренд</span>
                <span class="product-card__value">Taibrend</span>
            </div>
            <div class="product-card__row product-card__row--size">
                <span class="product-card__label">Размер </span>
                <span class="product-card__value">1000/100 см</span>
            </div>
            <div class="product-card__row product-card__row--weight">
                <span class="product-card__label">Вес</span>
                <span class="product-card__value">1245 гр</span>
            </div>
            <div class="product-card__descr">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
                    temporibus soluta consequatur, assumenda sit earum dolor rerum quia molestias hic laborum. Sint
                    libero repudiandae iure, nostrum quam minima laborum et ex eligendi esse consectetur officiis
                    architecto cumque asperiores laboriosam doloribus, quos explicabo quo unde debitis mollitia fugit
                    itaque deserunt. Iure vel sequi veniam odit magnam error quae illum aut similique, voluptatem at
                    nihil eum voluptas consequuntur ad reiciendis aspernatur ex temporibus ipsum? Nesciunt natus tempore
                    repellendus quae ullam repudiandae molestiae, nisi cupiditate quasi ratione animi id amet veniam
                    dolorum ea iusto minima? Iure dolore incidunt molestias odit voluptatum veniam magni!
                </p>

            </div>

            <div class="product-card__more dropdown">
                <div class="dropdown__top">
                    <span>Дополнительные характиристики</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m6 9 6 6 6-6" />
                    </svg>
                </div>
                <div class="dropdown__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae tempore, sed nam doloribus
                        iste
                        dignissimos est quas in totam iusto!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo quam voluptatum similique
                        dolores accusantium aperiam, ipsa fugit vero quia.

                    </p>

                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>