<div class="product-reviews" id="reviews">
    <div class="product-reviews__container container">
        <div class="product-reviews__header">

            <div class="product-reviews__left">

                <h3 class="product-reviews__title title">Отзывы наших покупателей</h3>
                <div class="product-reviews__number">5 из 834</div>
            </div>
            <div class="product-reviews__rating-o rating-o">
                <div class="rating-o__top">
                    <div class="rating-o__value">
                        4.6 / 5
                    </div>
                    <div class="rating-o__rating rating" data-value="4.6">
                        <div class="rating__stars">
                            <span class="rating__star-stroke"></span>
                            <span class="rating__star-stroke"></span>
                            <span class="rating__star-stroke"></span>
                            <span class="rating__star-stroke"></span>
                            <span class="rating__star-stroke"></span>
                        </div>
                        <div class="rating__fill">
                            <span class="rating__star-fill"></span>
                            <span class="rating__star-fill"></span>
                            <span class="rating__star-fill"></span>
                            <span class="rating__star-fill"></span>
                            <span class="rating__star-fill"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-o__count">834 отзыва</div>
               

            </div>
        </div>
        <div class="product-reviews__body">
            <div class="product-reviews__container-btn">

                <a href="reviews.html" class="product-reviews__more-btn btn-photo">
                    <span class="fa-photo"></span>
                    Все отзывы
                </a>
            </div>
        </div>

    </div>

</div>