<section class="products-sb">
    <div class="products-sb__container container">
        <h3 class="products-sb__title">
            С этим покупают
        </h3>
        <div class="products-sb__slider">

            <div class="products-sb-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide products-sb__slide">
                        <article class="card-product">
                            <a href="product.html" class="card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card11.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card12.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card13.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Трос
                                </h3>
                                <p class="card-product__text">
                                    Надежный и&nbsp;легкий трос с&nbsp;гарантированная безопасность для Вас
                                    и&nbsp;Ваших гостей
                                </p>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide products-sb__slide">
                        <article class="card-product">
                            <a href="product.html" class="card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card21.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card22.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card23.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Аквариум
                                </h3>
                                <p class="card-product__text">
                                    Просторный и&nbsp;светлый аквариум с карманом для хобота&nbsp;не оставит равнодушным
                                    и&nbsp;Вашего питомца
                                </p>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide products-sb__slide">
                        <article class="card-product">
                            <a href="#product.html class=" card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card31.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card32.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card33.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Аквариум PLUS
                                </h3>
                                <p class="card-product__text">
                                    Можно поместить не только хобот <br> но и его подружку
                                </p>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide products-sb__slide">
                        <article class="card-product">
                            <a href="product.html" class="card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card41.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card42.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card43.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Авто ассессуары
                                </h3>
                                <p class="card-product__text">
                                    Не можете взять с собой питомца , Не проблема!
                                </p>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide products-sb__slide">
                        <article class="card-product">
                            <a href="product.html" class="card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card51.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card52.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card53.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Сумки для перевозки слона
                                </h3>
                                <p class="card-product__text">
                                    Перевози питомца с комфотром!
                                </p>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide products-sb__slide">
                        <article class="card-product">
                            <a href="product.html" class="card-product__link">
                                <div class="card-product__images">
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card61.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card62.jpg" alt="card-image">
                                    </div>
                                    <div class="card-product__image">
                                        <img src="/images/card-products/card63.jpg" alt="card-image">
                                    </div>
                                </div>
                                <div class="card-product__price">
                                    <span class="card-product__price-current">
                                        1&thinsp;500&thinsp;₽
                                    </span>
                                    <span class="card-product__price-prev">
                                        750&thinsp;₽
                                    </span>
                                    <span class="card-product__price-discount">
                                        -50%
                                    </span>
                                </div>
                                <h3 class="card-product__title">
                                    Вино
                                </h3>
                                <p class="card-product__text">
                                    Помимо виноградных вин, в&nbsp;Таиланде представлены фруктовые вина местного
                                    производства.
                                    Для слонов!
                                </p>
                            </a>
                        </article>
                    </div>


                </div>
            </div>
            <button class="products-sb__prev slider-nav__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
            </button>
            <button class="products-sb__next slider-nav__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </button>
        </div>
        <div class="products-sb__pagination  slider-pagination"></div>
    </div>

</section>