<div class="product-card">
    <div class="product-card__container container">
        <div class="product-card__left">
            <div class="product-card__slider">

                <div class="product-card-slider swiper">
    
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                    
                    </div>
                </div>
            </div>
            <div class="product-card__pagination  slider-pagination"></div>
            <div class="product-card__main-image">
                <img src="/elephant/images/elephant/card61.jpg" alt="card-product">
            </div>
            <div class="product-card__images">
            </div>
        </div>
        <div class="product-card__right">
            <h2 class="product-card__name subtitle"></h2>
            <div class="product-card__rating">
                <span class="product-card__rating-value text-big"></span>
                <div class="rating" data-value="">
                    <div class="rating__stars">
                        <span class="rating__star-stroke"></span>
                        <span class="rating__star-stroke"></span>
                        <span class="rating__star-stroke"></span>
                        <span class="rating__star-stroke"></span>
                        <span class="rating__star-stroke"></span>
                    </div>
                    <div class="rating__fill">
                        <span class="rating__star-fill"></span>
                        <span class="rating__star-fill"></span>
                        <span class="rating__star-fill"></span>
                        <span class="rating__star-fill"></span>
                        <span class="rating__star-fill"></span>
                    </div>
                    <span class="fa-angle-down fa-lg font-icon"></span>
                </div>
                
                <a href="#reviews" class="product-card__reviews text">отзывы</a>
                <span class="product-card__media text" data-target="1">фото и видео</span>

            </div>

            <div class="product-card__slogan slogan">
                <div class="slogan__text">

                    <span class="slogan__text1 text">Elephant`s</span>
                    <span class="slogan__text2 text">choice</span>
                </div>
                <span class="slogan__right"></span>
            </div>
            <div class="product-card__row product-card__row--brand">
                <span class="product-card__label text-600">Бренд</span>
                <span class="product-card__value text">Taibrend</span>
            </div>
            <div class="product-card__row product-card__row--size">
                <span class="product-card__label text-600">Размер </span>
                <span class="product-card__value text">1000/100 см</span>
            </div>
            <div class="product-card__row product-card__row--weight">
                <span class="product-card__label text-600">Вес</span>
                <span class="product-card__value text">1245 гр</span>
            </div>
            <div class="product-card__descr">

                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
                    temporibus soluta consequatur, assumenda sit earum dolor rerum quia molestias hic laborum. Sint
                    libero repudiandae iure, nostrum quam minima laborum et ex eligendi esse consectetur officiis
                    architecto cumque asperiores laboriosam doloribus, quos explicabo quo unde debitis mollitia fugit
                    itaque deserunt. Iure vel sequi veniam odit magnam error quae illum aut similique, voluptatem at
                    nihil eum voluptas consequuntur ad reiciendis aspernatur ex temporibus ipsum? Nesciunt natus tempore
                    repellendus quae ullam repudiandae molestiae, nisi cupiditate quasi ratione animi id amet veniam
                    dolorum ea iusto minima? Iure dolore incidunt molestias odit voluptatum veniam magni!
                </p>

            </div>

            <div class="product-card__more dropdown">
                <div class="dropdown__top">
                    <span class="text-600">Дополнительные характиристики</span>
                   <span class="dropdown__icon fa-angle-down font-icon"></span>
                </div>
                <div class="dropdown__body">
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae tempore, sed nam doloribus
                        iste
                        dignissimos est quas in totam iusto!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo quam voluptatum similique
                        dolores accusantium aperiam, ipsa fugit vero quia.

                    </p>

                    <ul>
                        <li class="text">Lorem ipsum dolor sit amet.</li>
                        <li class="text">Lorem ipsum dolor sit amet.</li>
                        <li class="text">Lorem ipsum dolor sit amet.</li>
                        <li class="text">Lorem ipsum dolor sit amet.</li>
                        <li class="text">Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>