<section class="products-sb">
    <div class="products-sb__container container">
        <h3 class="products-sb__title title">
            С этим покупают
        </h3>
        <div class="products-sb__slider">

            <div class="products-sb-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                
                </div>
            </div>
            <button class="products-sb__prev slider-nav__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
            </button>
            <button class="products-sb__next slider-nav__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </button>
        </div>
        <div class="products-sb__pagination  slider-pagination"></div>
    </div>

</section>