<section class="products-sb section">
    <div class="products-sb__container container">
        <h3 class="products-sb__title subtitle">
            С этим покупают
        </h3>
        <div class="products-sb__slider">

            <div class="products-sb-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                
                </div>
            </div>
            <button class="products-sb__prev slider-nav">
                <span class="slider-nav__prev fa-angle-left fa-lg"></span>
            </button>
            <button class="products-sb__next slider-nav">
                <span class="slider-nav__next fa-angle-right fa-lg"></span>
            </button>
        </div>
        <div class="products-sb__pagination  slider-pagination"></div>
    </div>

</section>