<div class="modal" data-modal="1">
    <div class="modal__container">
        <button class="modal__close fa-close fa-lg font-icon"></button>
        <div class="product-media">
            <div class="product-media__tabs tabs">
                <div class="tabs__item " data-tab="3">Видео</div>
                <div class="tabs__item active" data-tab="4">Фото</div>
            </div>
            <div class="product-media__block" data-target="3">
                <div class="product-media__wrapper">

                    <div class="product-media__main-video">
                        <div class='player' id="player-media">
                            <div class='player__wrapper'>
                                <video autoplay="true" muted="true" playsInline="true" src="/elephant/images/video/3/video.mp4"></video>
                                <div class='player__bottom'>
                                    <div class='player__progressbar'>
                                        <div class='player__progressbar-main'></div>
                                        <div class='player__progressbar-buffered'></div>
                                        <div class='player__progressbar-progress'></div>
                                        <div class='player__progressbar-thumb'></div>
                                    </div>
                                    <div class='player__controls'>
                                        <div class='player__controls-left'>
                                            <div class='player__controls-play'>
                                            </div>
                                            <div class='player__controls-mute'>
                                            </div>
                                        </div>
                                        <div class='player__controls-time'>
                                        </div>
                                        <div class='player__controls-middle'></div>
                                        <div class='player__controls-right'>
                                            <div class='player__controls-settings'>
                                            </div>

                                            <div class='player__controls-fullscreen'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <ul class="product-media__videos">
                    <li class="product-media__item  product-media__item--video">
                        <img src="/elephant/images/video/3/cover.png" alt="">
                    </li>
                    <li class="product-media__item product-media__item--video">
                        <img src="/elephant/images/video/4/cover.png" alt="">
                    </li>
                    <li class="product-media__item product-media__item--video">
                        <img src="/elephant/images/video/5/cover.png" alt="">
                    </li>

                    <li class="product-media__item product-media__item--video">
                        <img src="/elephant/images/video/3/cover.png" alt="">
                    </li>
                    <li class="product-media__item product-media__item--video">
                        <img src="/elephant/images/video/4/cover.png" alt="">
                    </li>
                    <li class="product-media__item product-media__item--video">
                        <img src="/elephant/images/video/5/cover.png" alt="">
                    </li>

                </ul>

            </div>
            <div class="product-media__block" data-target="4">
                <div class="product-media__wrapper">
                    <div class="product-media__main-image">
                        <img src="/elephant/images/shop/card11.jpg" alt="">
                    </div>
                </div>
                <ul class="product-media__images">
                    <li class="product-media__item">
                        <img src="/elephant/images/shop/card12.jpg" alt="">
                    </li>
                    <li class="product-media__item">
                        <img src="/elephant/images/shop/card21.jpg" alt="">
                    </li>
                    <li class="product-media__item">
                        <img src="/elephant/images/shop/card31.jpg" alt="">
                    </li>
                    <li class="product-media__item">
                        <img src="/elephant/images/shop/card21.jpg" alt="">
                    </li>
                    <li class="product-media__item">
                        <img src="/elephant/images/shop/card22.jpg" alt="">
                    </li>
                    <li class="product-media__item">
                        <img src="/elephant/images/shop/card23.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>