<section class="reviews-section">
    <div class="reviews-section__container container">
        <h1 class="reviews-section__title">Сумка для слона - Отзывы</h1>
        <div class="reviews-section__top">
            <div class="reviews-section__rating">
                <p class="reviews-section__header">Рейтинг пользователей</p>
                <span class="reviews-section__value">4.5/5</span>
                <button class="reviews-section__btn btn-photo" data-target="4">
                    <span class="fa-photo" ></span>
                    34 фото пользователей
                </button>
            </div>
            <div class="reviews-section__graph">
                <p class="reviews-section__header">Оценки пользователей</p>
                <div class="reviews-section__scoring scoring">
                    <div class="scoring__row"  data-value="5">
                        <span class="scoring__value" >5</span>
                        <div class="scoring__progress">
                            <div class="scoring__fill">
                            </div>
                        </div>
                        <span class="scoring__count"></span>
                    </div>
                    <div class="scoring__row"  data-value="4">
                        <span class="scoring__value">4</span>
                        <div class="scoring__progress">
                            <div class="scoring__fill">
                            </div>
                        </div>
                        <span class="scoring__count"></span>
                    </div>
                    <div class="scoring__row"  data-value="3">
                        <span class="scoring__value">3</span>
                        <div class="scoring__progress">
                            <div class="scoring__fill">
                            </div>
                        </div>
                        <span class="scoring__count"></span>
                    </div>
                    <div class="scoring__row"  data-value="2">
                        <span class="scoring__value">2</span>
                        <div class="scoring__progress">
                            <div class="scoring__fill">
                            </div>
                        </div>
                        <span class="scoring__count"></span>
                    </div>
                    <div class="scoring__row" data-value="1">
                        <span class="scoring__value">1</span>
                        <div class="scoring__progress" >
                            <div class="scoring__fill">
                            </div>
                        </div>
                        <span class="scoring__count"></span>
                    </div>
                </div>

            </div>
        </div>

        <div class="reviews-section__count"></div>
        <div class="reviews-section__reviews">
        </div>

        <div class="reviews-section__pagination pagination">
        </div>
    </div>
</section>