<div class="modal" data-modal="4">
        <button class="modal__close">X</button>
        <div class="reviews-media">
            <div class="reviews-media__top">

                <div class="reviews-media__slider swiper">

                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card43.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card41.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card31.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card23.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card12.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card11.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card11.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card43.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card41.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card31.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card23.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card12.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card11.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card11.jpg" alt="card-product">
                        </div>
                    </div>
                </div>
                <button class="reviews-media__prev">
                    <span class="fa-angle-left fa-2x"></span>
                </button>
                <button class="reviews-media__next">
                    <span class="fa-angle-right fa-2x"></span>
                </button>
            </div>
            <div class="reviews-media__bottom">
                <div class="reviews-media__slider2 swiper">

                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card43.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card41.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card31.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card23.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card12.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card11.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card11.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card43.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card41.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card31.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card23.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card12.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card11.jpg" alt="card-product">
                        </div>
                        <div class="swiper-slide reviews-media__slide">
                            <img src="/images/shop/card11.jpg" alt="card-product">
                        </div>
                    </div>
                </div>
        </div>
    </div>