<section class="reviews-section section">
    <div class="reviews-section__container container">
        <h1 class="reviews-section__title title">Сумка для слона - Отзывы</h1>
        <div class="reviews-section__top">
            <div class="reviews-section__rating">
                <p class="reviews-section__header text-big">Рейтинг пользователей</p>
                <span class="reviews-section__value text-big-700">4.5/5</span>
                <button class="reviews-section__btn btn-photo text" data-target="4">
                    <span class="fa-photo" ></span>
                    фото
                </button>
            </div>
            <div class="reviews-section__graph rating-graph">
                <p class="rating-graph__header text-big">Оценки пользователей</p>
                <div class="rating-graph__scoring">
                    <div class="rating-graph__scoring-row"  data-value="5">
                        <span class="rating-graph__scoring-value text" >5</span>
                        <div class="rating-graph__scoring-progress">
                            <div class="rating-graph__scoring-fill">
                            </div>
                        </div>
                        <span class="rating-graph__scoring-count text"></span>
                    </div>
                    <div class="rating-graph__scoring-row"  data-value="4">
                        <span class="rating-graph__scoring-value text-sm">4</span>
                        <div class="rating-graph__scoring-progress">
                            <div class="rating-graph__scoring-fill">
                            </div>
                        </div>
                        <span class="rating-graph__scoring-count text-sm"></span>
                    </div>
                    <div class="rating-graph__scoring-row"  data-value="3">
                        <span class="rating-graph__scoring-value">3</span>
                        <div class="rating-graph__scoring-progress">
                            <div class="rating-graph__scoring-fill">
                            </div>
                        </div>
                        <span class="rating-graph__scoring-count text-sm"></span>
                    </div>
                    <div class="rating-graph__scoring-row"  data-value="2">
                        <span class="rating-graph__scoring-value text-sm">2</span>
                        <div class="rating-graph__scoring-progress">
                            <div class="rating-graph__scoring-fill">
                            </div>
                        </div>
                        <span class="rating-graph__scoring-count text-sm"></span>
                    </div>
                    <div class="rating-graph__scoring-row" data-value="1">
                        <span class="rating-graph__scoring-value text-sm">1</span>
                        <div class="rating-graph__scoring-progress" >
                            <div class="rating-graph__scoring-fill">
                            </div>
                        </div>
                        <span class="rating-graph__scoring-count text-sm"></span>
                    </div>
                </div>

            </div>
        </div>

        <div class="reviews-section__count text"></div>
        <div class="reviews-section__reviews">
        </div>

        <div class="reviews-section__pagination pagination">
        </div>
    </div>
</section>