<section class="services-banner">
    <div class="services-banner__container container">

        <div class="services-banner__banner banner">
            <div class="banner__image">
    
                <img src="/images/services-page/banner.jpg" alt="">
            </div>
            <div class="banner__text">
    
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque fugit totam alias provident quasi
                    minus quia ducimus dicta recusandae suscipit.</p>
            </div>
        </div>
    </div>
</section>