<section class="services-services">
    <div class="services-services__container container">

        <div class="services-services__tabs tabs">
            <div class="tabs__item active" data-tab="1">Частным лицам</div>
            <div class="tabs__item" data-tab="2">Корпоративным клиентам</div>
        </div>
        <div class="services-services__block" data-target="1">

            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h2 class="card-ss__title">Подбор слона</h2>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h2 class="card-ss__title">Уход</h2>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h2 class="card-ss__title">Подключение к WI-FI</h2>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h2 class="card-ss__title">Выгул в пределах МКАД</h2>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h2 class="card-ss__title">Обучение</h2>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="services-services__block" data-target="2">

            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h2 class="card-ss__title">Подбор слона</h2>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h2 class="card-ss__title">Уход</h2>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h2 class="card-ss__title">Подключение к WI-FI</h2>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h2 class="card-ss__title">Выгул в пределах МКАД</h2>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </li>
                       
                    </ul>
                </div>
            </div>
           
        </div>
    </div>
</section>