<section class="services-banner">
    <div class="services-banner__container container">

        <div class="services-banner__banner banner">
            <div class="banner__image">

                <img src="/elephant/images/services-page/banner.jpg" alt="">
            </div>
            <div class="banner__text">

                <p class="text-banner">Наши услуги включают подбор, уход, проживание, урбан адаптейшн слонов в условиях городской агломерации. Комфортные условия в осенне-зимний период. Максимальный dipping и </p>
            </div>
        </div>
    </div>
</section>