<section class="services">
    <div class="services__container container">
        <a href="services.html" class="services__title section-title">

            <h2 class="section-title__title">
                Услуги
            </h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               >
                <path
                    d="M2 22c1.25-.987 2.27-1.975 3.9-2.2a5.56 5.56 0 0 1 3.8 1.5 4 4 0 0 0 6.187-2.353 3.5 3.5 0 0 0 3.69-5.116A3.5 3.5 0 0 0 20.95 8 3.5 3.5 0 1 0 16 3.05a3.5 3.5 0 0 0-5.831 1.373 3.5 3.5 0 0 0-5.116 3.69 4 4 0 0 0-2.348 6.155C3.499 15.42 4.409 16.712 4.2 18.1 3.926 19.743 3.014 20.732 2 22" />
                <path d="M2 22 17 7" />
            </svg>
        </a>
        <div class="services__slider">

            <div class="services-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card1.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card2.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card3.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card4.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card5.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card6.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
            <div class="services__pagination slider-pagination"></div>
            <button class="services__prev slider-nav__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
            </button>
            <button class="services__next slider-nav__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </button>
        </div>
    </div>

</section>