<section class="services-popular section">
    <div class="services-popular__container container">

        <h2 class="services-popular__title subtitle">Популярные сервисы</h2>
        <div class="services__slider">

            <div class="services-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
            
                </div>
            </div>
            <div class="services__pagination slider-pagination"></div>
            <button class="services__prev slider-nav__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
            </button>
            <button class="services__next slider-nav__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </button>
        </div>
    </div>
</section>