<section class="services section">
    <div class="services__container container">
        <a href="/elephant/services.html" class="services__title section-title">

            <h2>
                Услуги
            </h2>
            <span class="fa-angle-right"></span>
        </a>
        <div class="services__slider">

            <div class="services-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/elephant/images/card-services/card1.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/elephant/images/card-services/card2.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/elephant/images/card-services/card3.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/elephant/images/card-services/card4.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/elephant/images/card-services/card5.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/elephant/images/card-services/card6.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
            <div class="services__pagination slider-pagination"></div>
            <button class="services__prev slider-nav">
                <span class="slider-nav__prev fa-angle-left fa-lg"></span>
            </button>
            <button class="services__next slider-nav">
                <span class="slider-nav__next fa-angle-right fa-lg"></span>
            </button>
        </div>
    </div>

</section>