<section class="services-popular">
    <div class="services-popular__container container">

        <h2 class="services-popular__title">Популярные сервисы</h2>
        <div class="services__slider">

            <div class="services-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card1.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card2.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card3.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card4.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card5.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide services__slide">

                        <article class="card-services">
                            <a href="#" class="card-services__link">
                                <img src="/images/card-services/card6.avif" alt="card-image">
                                <div class="card-services__content">
                                    <div class="card-services__right">

                                        <h4 class="card-services__title">
                                            Подбор слона
                                        </h4>
                                    </div>
                                    <div class="card-services__left">
                                        <div class="card-services__price">
                                            <span class="card-services__price-from">from</span>
                                            <span class="card-services__price--old">
                                                <span>US$</span> 87.50
                                            </span>
                                            <span class="card-services__price-current">
                                                <span>US$</span> 67.50
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="card-services__hover">
                                <div class="card-services__hover-content">
                                    <span class="card-services__hover-title">Выбрать слона непросто</span>
                                    <p class="card-services__hover-text">Подберем <strong>большого породистого</strong>
                                        слоненка ,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        itaque.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
            <div class="services__pagination slider-pagination"></div>
            <button class="services__prev slider-nav__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
            </button>
            <button class="services__next slider-nav__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </button>
        </div>
    </div>
</section>