<section class="services-services section">
    <div class="services-services__container container">

        <div class="services-services__tabs tabs">
            <h2 class="tabs__item active text" data-tab="1">Частным лицам</h2>
            <h2 class="tabs__item text" data-tab="2">Корпоративным клиентам</h2>
        </div>
        <div class="services-services__block" data-target="1">

            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h3 class="card-ss__title text-big">Подбор слона</h3>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p class="text">Выбор слонов по критериям клиента</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Юридическую проверку слона перед покупкой</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Экспертная оценка</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Экспресс подбор</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h3 class="card-ss__title text-big">Уход за животными</h3>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p class="text">Профессиональная мойка ушей</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Полировка хобота</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Нанесение пироли на бивни</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h3 class="card-ss__title text-big">Выгул животных</h3>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p class="text">Предоставление выделенных полос на магистралях</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Полицейское сопровождение</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Отдельный вагон в метрополитене</p>
                        </li>

                    </ul>
                </div>
            </div>



        </div>
        <div class="services-services__block" data-target="2">

            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h3 class="card-ss__title text-big">Подключение к услугам крупных торговых центров</h3>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p class="text">Договора с ТЦ</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Контейнер для сброса бивней</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Слоновьи стульчики на фудкортах</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h3 class="card-ss__title text-big">Полный спектр банковских услуг</h3>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p class="text">Слоновьи карты</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Экспресс кредиты для животных</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Ипотечные сделки на базе системы СберСлон</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Прием бивней в качестве оплаты</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="services-services__card card-ss">
                <div class="card-ss__right">
                    <h3 class="card-ss__title text-big">СлоноМОЙ-КА! Ай Да БИЗНЕС</h3>
                    <!-- <button class="card-ss__btn btn">Заказать услугу</button> -->
                </div>
                <div class="card-ss__left">
                    <ul class="card-ss__list">
                        <li class="card-ss__item">
                            <p class="text">Обслуживание слонопарков от 1 животного</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Возможность оказания услуг в ночное время</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Оказание услуг без очереди</p>
                        </li>
                        <li class="card-ss__item">
                            <p class="text">Участие в акциях для корпоративных клиентов</p>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</section>