<section class="workers">
    <div class="workers__container container">
        <h2 class="workers__title title">Наши работники</h2>
        <div class="workers__slider">

            <div class="workers-slider swiper">

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide workers__slide">

                        <article class="card-worker">
                            <a class="card-worker__link">
                                <div class="card-worker__image">
                                    <img src="/images/workers/foto2.jpg" alt="card-image">
                                </div>
                                <div class="card-worker__block">
                                    <div class="card-worker__name">
                                        Сирират
                                    </div>
                                    <div class="card-worker__position">
                                        Директор
                                    </div>
                                    <div class="card-worker__town">
                                        Бангкок
                                    </div>
                                </div>

                            </a>

                        </article>
                    </div>
                    <div class="swiper-slide workers__slide">

                        <article class="card-worker">
                            <a class="card-worker__link">
                                <div class="card-worker__image">
                                    <img src="/images/workers/foto10.jpg" alt="card-image">
                                </div>
                                <div class="card-worker__block">
                                    <div class="card-worker__name">
                                        Александр
                                    </div>
                                    <div class="card-worker__position">
                                        Специалист по уходу
                                    </div>
                                    <div class="card-worker__town">
                                        Белгород
                                    </div>
                                </div>

                            </a>

                        </article>
                    </div>
                    <div class="swiper-slide workers__slide">

                        <article class="card-worker">
                            <a class="card-worker__link">
                                <div class="card-worker__image">
                                    <img src="/images/workers/foto6.webp" alt="card-image">
                                </div>
                                <div class="card-worker__block">
                                    <div class="card-worker__name">
                                        Сомбун
                                    </div>
                                    <div class="card-worker__position">
                                        Муж Марины
                                    </div>
                                    <div class="card-worker__town">
                                        Патайя
                                    </div>
                                </div>

                            </a>

                        </article>
                    </div>
                    
                    <div class="swiper-slide workers__slide">

                        <article class="card-worker">
                            <a class="card-worker__link">
                                <div class="card-worker__image">
                                    <img src="/images/workers/foto7.jpg" alt="card-image">
                                </div>
                                <div class="card-worker__block">
                                    <div class="card-worker__name">
                                        Марина
                                    </div>
                                    <div class="card-worker__position">
                                        Специалист по груммингу
                                    </div>
                                    <div class="card-worker__town">
                                        Патайя
                                    </div>
                                </div>

                            </a>

                        </article>
                    </div>

                    <div class="swiper-slide workers__slide">

                        <article class="card-worker">
                            <a class="card-worker__link">
                                <div class="card-worker__image">
                                    <img src="/images/workers/foto4.webp" alt="card-image">
                                </div>
                                <div class="card-worker__block">
                                    <div class="card-worker__name">
                                        Иван Сергеевич
                                    </div>
                                    <div class="card-worker__position">
                                        Антиквариат
                                    </div>
                                    <div class="card-worker__town">
                                        Тольяти
                                    </div>
                                </div>

                            </a>

                        </article>
                    </div>

                    <div class="swiper-slide workers__slide">

                        <article class="card-worker">
                            <a class="card-worker__link">
                                <div class="card-worker__image">
                                    <img src="/images/workers/foto8.jpg" alt="card-image">
                                </div>
                                <div class="card-worker__block">
                                    <div class="card-worker__name">
                                        Олег
                                    </div>
                                    <div class="card-worker__position">
                                        Специалист по груммингу
                                    </div>
                                    <div class="card-worker__town">
                                        Москва
                                    </div>
                                </div>

                            </a>

                        </article>
                    </div>
                    <div class="swiper-slide workers__slide">

                        <article class="card-worker">
                            <a class="card-worker__link">
                                <div class="card-worker__image">
                                    <img src="/images/workers/foto15.jpg" alt="card-image">
                                </div>
                                <div class="card-worker__block">
                                    <div class="card-worker__name">
                                        принц Филипп
                                    </div>
                                    <div class="card-worker__position">
                                        Дрессировщик
                                    </div>
                                    <div class="card-worker__town">
                                        Мытищи
                                    </div>
                                </div>

                            </a>

                        </article>
                    </div>
                    <div class="swiper-slide workers__slide">

                        <article class="card-worker">
                            <a class="card-worker__link">
                                <div class="card-worker__image">
                                    <img src="/images/workers/foto11.jpg" alt="card-image">
                                </div>
                                <div class="card-worker__block">
                                    <div class="card-worker__name">
                                        Степан Петрович
                                    </div>
                                    <div class="card-worker__position">
                                        Уход за животными
                                    </div>
                                    <div class="card-worker__town">
                                        Ленинград
                                    </div>
                                </div>

                            </a>

                        </article>
                    </div>
                    <div class="swiper-slide workers__slide">

                        <article class="card-worker">
                            <a class="card-worker__link">
                                <div class="card-worker__image">
                                    <img src="/images/workers/foto14.jpg" alt="card-image">
                                </div>
                                <div class="card-worker__block">
                                    <div class="card-worker__name">
                                        Николь и Крис Запашные
                                    </div>
                                    <div class="card-worker__position">
                                        Уход за животными
                                    </div>
                                    <div class="card-worker__town">
                                        Бангкок
                                    </div>
                                </div>

                            </a>

                        </article>
                    </div>


                </div>
            </div>
            <button class="workers__prev slider-nav__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6" />
                </svg>
            </button>
            <button class="workers__next slider-nav__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </button>
        </div>
    </div>
</section>