:root {
	--bg-color: #ededed;
	--card-bg-color: #e4e4e5;
	--blue-color: #8382fa;
	--blue-light-color:#c8dadf;
	--teal-color: #41b847;
	--green-dark-color: #0f8515;
	--hover-color: #58c45d;
	--dark-color: #1a1a1a;
	--focus-color: #afdaae;
	--color-gray: #424551;
	--color-lightgray: #6a6d7c;
	--color-cadet: #18364b;
	--color-crystal: #a1d3df;
  }
  